
<!-- /** Create Customer Enrolment Model*/ -->
<div class="container"  *ngIf="!ShowEnrolID">

  <form [formGroup]="createCustomerEnrolForms" >

  <div *ngIf="data">
    <span  class="material-icons" matTooltip="Edit" (click)="EditEnrol()">edit</span>
    <span *ngIf="!editIcon" class="material-icons" matTooltip="Delete" (click)="deleteEnrol()">delete</span>
</div>
<div class="row" >

          <div class="col-4 col-sm-4" > 
            <label>Customer Image:
              <span class="required-field">*</span>
              <input #file type="file" accept='image/*'   (change)="uploadApplicantImages($event)" />
              <img class="image_size" [src] ="ApplicantImageURL ? ApplicantImageURL : 'assets/images/empty_image.png'" >
            </label>
          </div>
          
          <div  class="col-4 col-sm-4">
              <mat-form-field appearance="outline" class="example-full-width" >
                <mat-label>Customer Name</mat-label>
                <input matInput type='text' formControlName="customerName"   autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }">
            </mat-form-field>
            <div *ngIf="submitted && f.customerName.errors"  class="alert alert-danger">
              <div *ngIf="f.customerName.errors.required">Customer Name is Required!</div>
          </div>
            </div>
          <div class="col-4 col-sm-4">

            <mat-form-field appearance="outline" class="example-full-width" >
              <mat-label>Mobile Number</mat-label>
              <input matInput type='text' formControlName="mobileNumber"    minlength="10" maxlength="10" pattern="[0-9]*" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }">
          </mat-form-field>
 
                
           <div id="recaptcha-container"></div>
          <button (click)="sendLoginCode()" class="btn_blue" >SMS Text Login Code</button>

        <div *ngIf="windowRef.confirmationResult">
          <hr>
              <div> 
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Enter your Verification Code Here</mat-label>
                  <input matInput type="text" name="code" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}" maxlength="6" >
                </mat-form-field>
              </div>
             <button (click)="verifyLoginCode()" class="btn_blue">Verify</button>
             <div *ngIf="user">
              <mat-icon>verified_user<h3>Verified </h3> </mat-icon> 
                
        </div>
          </div>
       
          <div *ngIf="submitted && f.mobileNumber.errors"  class="alert alert-danger">
            <div *ngIf="f.mobileNumber.errors.required">Mobile Number is Required!</div>
            <div *ngIf="createCustomerEnrolForms.get('mobileNumber').hasError('pattern')">Please Enter 10 Digit Mobile Number!</div>
        </div>
        </div>
          <div  class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width" >
              <mat-label>Alternate Mobile Number</mat-label>
              <input matInput type='text' formControlName="alternateMobileNumber"  minlength="10" maxlength="10" pattern="[0-9]*"  autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.alternateMobileNumber.errors }">
          </mat-form-field>
          <div *ngIf="submitted && f.alternateMobileNumber.errors"  class="alert alert-danger">
            <div *ngIf="f.alternateMobileNumber.errors.required">Alternate Mobile Number is Required!</div>
            <div *ngIf="createCustomerEnrolForms.get('alternateMobileNumber').hasError('pattern')">Please Enter 10 Digit Alternate Mobile Number!</div>
        </div>
          </div>


          <div  class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width" >
              <mat-label>Date of Birth</mat-label>
              <input matInput type='date' formControlName="dob"   autocomplete="off"  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
          </mat-form-field>
          <div *ngIf="submitted && f.dob.errors"  class="alert alert-danger">
            <div *ngIf="f.dob.errors.required">Date of Birth is Required!</div>
        </div>
          </div>
          <div  class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width" >
              <mat-label>Father's Name</mat-label>
              <input matInput type='text' formControlName="fatherName"   autocomplete="off"  [ngClass]="{ 'is-invalid': submitted && f.fatherName.errors }">
          </mat-form-field>
          <div *ngIf="submitted && f.fatherName.errors"  class="alert alert-danger">
            <div *ngIf="f.fatherName.errors.required">Father's Name is Required!</div>
        </div>
          </div>
          <div  class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width" >
              <mat-label>Spouse Name</mat-label>
              <input matInput type='text' formControlName="spouseName"   autocomplete="off" >
          </mat-form-field>
          </div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Gender</mat-label>
            <mat-select  formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="submitted && f.gender.errors"  class="alert alert-danger">
          <div *ngIf="f.gender.errors.required">Gender is Required!</div>
      </div>
      </div>
        <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Applicant Type</mat-label>
          <mat-select  formControlName="applicantType"  [ngClass]="{ 'is-invalid': submitted && f.applicantType.errors }">
              <mat-option value="salaried">salaried</mat-option>
              <mat-option value="business">Business</mat-option>
          </mat-select>
      </mat-form-field>
      <div *ngIf="submitted && f.applicantType.errors"  class="alert alert-danger">
        <div *ngIf="f.applicantType.errors.required">Applicant Type is Required!</div>
    </div>
 
    </div>

    

    <form [formGroup]="documentImageForm">
      <div class="container"  formArrayName="image">
        <button class="btn_blue" (click)="addImage()">Add</button>
        <div class="row" *ngFor="let image of image().controls; let i=index" [formGroupName]="i">
          <div class="col-4 col-sm-4"><label>ID Proof:
            <select  class="form-control" formControlName="documentName">
              <option >Choose Options</option>
              <option *ngFor="let document of documentDetails">{{document.documentName}}</option>
            </select>

            <div class="col-4 col-sm-12">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Document Number</mat-label>
                <input matInput type='text' formControlName="documentNo">
            </mat-form-field>
            </div>
            <input #file type="file" accept='image/*'  (change)="uploadImages($event,i)" />
           
            <div *ngIf="[i]== 0">
              <img [src] ="imageURL0 ? imageURL0 : 'assets/images/empty_image.png'" style="width: 30%;object-fit: contain;
              object-position: center;">
           </div>
          <div *ngIf="[i]== 1">
              <img [src] ="imageURL1 ? imageURL1 : 'assets/images/empty_image.png'" style="width: 30%;object-fit: contain;
              object-position: center;">
            </div>
          <div *ngIf="[i]== 2">
              <img [src] ="imageURL2 ? imageURL2 : 'assets/images/empty_image.png'" style="width: 30%;object-fit: contain;
              object-position: center;">
            </div>

        </label></div>
        <div class="col-4 col-sm-4">
          <button style="margin-right:560px" (click)="removeImage(i)" class="btn btn-danger">Remove</button>
        </div>

        </div>
      </div>    
    </form>


        
             <div class="col-12 col-sm-12">
                 <button type="button" class="btn btn-secondary"  (click)="close()">Close</button>
                 <button type="button" class="btn btn-primary"  class="btn_blue" (click)="saveCustomerEnrolment()"  > {{editDataEnrol ? 'Update' : 'Save'}}
              </button>
            </div>
            </div>
     </form>
</div>


<!-- /** Show Enquiry ID Model*/ -->

<div class="container" *ngIf="ShowEnrolID">
  <div class="card">
      <div class="card-body">
              <div  class="row"><p>Enrol Generated Successfully</p></div>
              <div  class="row"><p>Enrol ID: {{enrolIdentifier}}</p></div>
          <div class="row">
              <button class="btn_blue" (click)="close()">Done</button>
          </div>
      </div>
    </div>
</div>