<div class="container">
  <h2>Create Employee</h2>
  <div class="card">
    <div class="card-body">
  <mat-tab-group>
    <form [formGroup]="manageEmployeeForm">
    <mat-tab label="Employee Details">
      <div class="container">
        <div class="row">
          <div class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput type='text' formControlName="name" [ngClass]="{ 'is-invalid': submitted && manageEmployeeForm.controls.vehicleNumber.errors  }">
          </mat-form-field>
          <div *ngIf="manageEmployeeForm.controls['name'].invalid && (manageEmployeeForm.controls['name'].dirty || manageEmployeeForm.controls['name'].touched)" class="alert alert-danger">
              <div *ngIf="manageEmployeeForm.controls['name'].errors.required">
                  Please enter Username!
              </div>
          </div>
          </div>
          <div class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>CalledName</mat-label>
              <input matInput type='text' formControlName="calledName">
          </mat-form-field>
          <div *ngIf="manageEmployeeForm.controls['calledName'].invalid && (manageEmployeeForm.controls['calledName'].dirty || manageEmployeeForm.controls['calledName'].touched)" class="alert alert-danger">
              <div *ngIf="manageEmployeeForm.controls['calledName'].errors.required">
                  Please enter Calledname!
              </div>
          </div>
          </div>
          <div class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>SurName</mat-label>
              <input matInput type='text' formControlName="surName">
          </mat-form-field>
          <div *ngIf="manageEmployeeForm.controls['surName'].invalid && (manageEmployeeForm.controls['surName'].dirty || manageEmployeeForm.controls['surName'].touched)" class="alert alert-danger">
              <div *ngIf="manageEmployeeForm.controls['surName'].errors.required">
                  Please enter Surname!
              </div>
          </div>
          </div>

          <div class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Mobile Number</mat-label>
              <input matInput formControlName="mobileNumber" minlength=10 maxlength=10>
          </mat-form-field>
          <div *ngIf="manageEmployeeForm.controls['mobileNumber'].invalid && (manageEmployeeForm.controls['mobileNumber'].dirty || manageEmployeeForm.controls['mobileNumber'].touched)" class="alert alert-danger">
              <div *ngIf="manageEmployeeForm.controls['mobileNumber'].errors.required">
                  Please enter Mobile Number!
              </div>
          </div>
          </div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Alternative Number</mat-label>
            <input matInput formControlName="altNumber" minlength=10 maxlength=10>
        </mat-form-field>
        <div *ngIf="manageEmployeeForm.controls['altNumber'].invalid && (manageEmployeeForm.controls['altNumber'].dirty || manageEmployeeForm.controls['altNumber'].touched)" class="alert alert-danger">
            <div *ngIf="manageEmployeeForm.controls['altNumber'].errors.required">
                Please enter Alt Number!
            </div>
        </div>
        </div>
        <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class=" example-full-width">
          <mat-label>Official Number</mat-label>
          <input matInput formControlName="officialNumber" minlength=10 maxlength=10>
      </mat-form-field>
      <div *ngIf="manageEmployeeForm.controls['officialNumber'].invalid && (manageEmployeeForm.controls['officialNumber'].dirty || manageEmployeeForm.controls['officialNumber'].touched)" class="alert alert-danger">
          <div *ngIf="manageEmployeeForm.controls['officialNumber'].errors.required">
              Please enter Official Number!
          </div>
      </div></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <input matInput [matDatepicker]="dp" placeholder="Date of Birth" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <div *ngIf="manageEmployeeForm.controls['dob'].invalid && (manageEmployeeForm.controls['dob'].dirty || manageEmployeeForm.controls['dob'].touched)" class="alert alert-danger">
            <div *ngIf="manageEmployeeForm.controls['dob'].errors.required">
                Please enter Date of Birth!
            </div>
        </div></div>

          <div class="col-4 col-sm-4"><button mat-button (click)="CalculateAge()">Calculate Age</button>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput placeholder="Age" value="{{age}}" formControlName="age">
          </mat-form-field>
          </div>

          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Gender</mat-label>
            <mat-select  formControlName="gender">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="manageEmployeeForm.controls['gender'].invalid && (manageEmployeeForm.controls['gender'].dirty || manageEmployeeForm.controls['gender'].touched)" class="alert alert-danger">
            <div *ngIf="manageEmployeeForm.controls['gender'].errors.required">
                Please select the Gender!
            </div>
        </div></div>

          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Marital Status</mat-label>
            <mat-select formControlName="maritalStatus"  (selectionChange)="onMaritalStatusChange($event.value)" >
                <mat-option value="single">Single</mat-option>
                <mat-option value="married">Married</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="manageEmployeeForm.controls['maritalStatus'].invalid && (manageEmployeeForm.controls['maritalStatus'].dirty || manageEmployeeForm.controls['maritalStatus'].touched)" class="alert alert-danger">
            <div *ngIf="manageEmployeeForm.controls['maritalStatus'].errors.required">
                Please select a value!
            </div>
        </div></div>
        <div class="col-4 col-sm-4" *ngIf="showSpouse">
          <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Spouse Name</mat-label>
              <input matInput formControlName="spousename">
          </mat-form-field>
          <div *ngIf="manageEmployeeForm.controls['spousename'].invalid && (manageEmployeeForm.controls['spousename'].dirty || manageEmployeeForm.controls['spousename'].touched)" class="alert alert-danger">
              <div *ngIf="manageEmployeeForm.controls['spousename'].errors.required">
                  Please enter Spouse Name!
              </div>
          </div>
     </div>

          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Designation</mat-label>
            <input matInput formControlName="designation">
        </mat-form-field>
        <div *ngIf="manageEmployeeForm.controls['designation'].invalid && (manageEmployeeForm.controls['designation'].dirty || manageEmployeeForm.controls['designation'].touched)" class="alert alert-danger">
            <div *ngIf="manageEmployeeForm.controls['designation'].errors.required">
                Please enter Designation!
            </div>
        </div></div>

          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Blood Group</mat-label>
            <input matInput formControlName="bloodGroup">
        </mat-form-field>
        <div *ngIf="manageEmployeeForm.controls['bloodGroup'].invalid && (manageEmployeeForm.controls['bloodGroup'].dirty || manageEmployeeForm.controls['bloodGroup'].touched)" class="alert alert-danger">
            <div *ngIf="manageEmployeeForm.controls['bloodGroup'].errors.required">
                Please enter Blood Group!
            </div>
        </div></div>

          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Father's Name</mat-label>
            <input matInput formControlName="fatherName">
        </mat-form-field>
        <div *ngIf="manageEmployeeForm.controls['fatherName'].invalid && (manageEmployeeForm.controls['fatherName'].dirty || manageEmployeeForm.controls['fatherName'].touched)" class="alert alert-danger">
            <div *ngIf="manageEmployeeForm.controls['fatherName'].errors.required">
                Please enter Father's Name!
            </div>
        </div></div>

          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Vehicle Number</mat-label>
            <input matInput formControlName="vehicleNumber" #input [value]="input.value.toUpperCase()">
        </mat-form-field>
        <div *ngIf="manageEmployeeForm.controls['vehicleNumber'].invalid && (manageEmployeeForm.controls['vehicleNumber'].dirty || manageEmployeeForm.controls['vehicleNumber'].touched)" class="alert alert-danger">
            <div *ngIf="manageEmployeeForm.controls['vehicleNumber'].errors.required">
                Please enter Vehicle Number!
            </div>
        </div></div>

          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Date of Joining</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="doj">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field></div>

        <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
          <mat-label>AGT Number</mat-label>
          <input matInput formControlName="agtnumber">
      </mat-form-field>
      <!-- <div *ngIf="manageEmployeeForm.controls['agtnumber'].invalid && (manageEmployeeForm.controls['agtnumber'].dirty || manageEmployeeForm.controls['agtnumber'].touched)" class="alert alert-danger">
          <div *ngIf="manageEmployeeForm.controls['agtnumber'].errors.required">
              Please enter AGT Number!
          </div>
      </div> -->
    </div>

          
        </div>
      </div>  
</mat-tab>

    <mat-tab label="Add Address"><!-- Add Communication address -->

      <h2>Add Communication Address</h2>

      <div class="container">
        <div class="row" formGroupName="employee_communicationAddress">
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Address Line 1</mat-label>
            <input matInput formControlName="addressLine1">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Address Line 2</mat-label>
            <input matInput formControlName="addressLine2">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Landmark</mat-label>
            <input matInput formControlName="landmark">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Enter Pincode</mat-label>
            <input matInput formControlName="postalCode" minlength=6 maxlength=6>
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Area</mat-label>
            <mat-select formControlName="area">
                <mat-option value="Saibaba colony">Saibaba Colony</mat-option>
                <mat-option value="gp">GP</mat-option>
                <mat-option value="hopes">Hopes</mat-option>
            </mat-select>
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
                <mat-option value="Coimbatore">Coimbatore</mat-option>
                <mat-option value="chennai">Chennai</mat-option>
                <mat-option value="bangalore">Bangalore</mat-option>
            </mat-select>
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option value="Tamilnadu">Tamilnadu</mat-option>
                <mat-option value="Kerala">Kerala</mat-option>
                <mat-option value="karnataka">karnataka</mat-option>
            </mat-select>
        </mat-form-field></div>
        </div>
      </div>    

      <h2>Add permanent address</h2>

      <div class="container">
        <div class="row" formGroupName="employee_permanentAddress">
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Address Line 1</mat-label>
            <input matInput formControlName="addressLine1">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Address Line 2</mat-label>
            <input matInput formControlName="addressLine2">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Landmark</mat-label>
            <input matInput formControlName="landmark">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Enter Pincode</mat-label>
            <input matInput formControlName="postalCode" minlength=6 maxlength=6>
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Area</mat-label>
            <mat-select formControlName="area">
                <mat-option value="Saibaba colony">Saibaba Colony</mat-option>
                <mat-option value="gp">GP</mat-option>
                <mat-option value="hopes">Hopes</mat-option>
            </mat-select>
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
                <mat-option value="Coimbatore">Coimbatore</mat-option>
                <mat-option value="chennai">Chennai</mat-option>
                <mat-option value="bangalore">Bangalore</mat-option>
            </mat-select>
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option value="Tamilnadu">Tamilnadu</mat-option>
                <mat-option value="Kerala">Kerala</mat-option>
                <mat-option value="Karnataka">Karnataka</mat-option>
            </mat-select>
        </mat-form-field></div>
        </div>

        
      </div>    
  
    
    </mat-tab>

    <mat-tab label="Bank Details"> <!-- Add Bank detail -->
      <div class="container">
        <div class="row" >
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Acc Number</mat-label>
            <input matInput formControlName="accountNumber">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="accountHolderName">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>IFSC</mat-label>
            <input #IFSC matInput formControlName="IFSC" (input)="IFSC.value = IFSC.value.toUpperCase()">
        </mat-form-field>
        <!-- <div *ngIf="manageEmployeeForm.controls['IFSC'].invalid && (manageEmployeeForm.controls['IFSC'].dirty || manageEmployeeForm.controls['IFSC'].touched)" class="alert alert-danger">
          <div *ngIf="manageEmployeeForm.controls['IFSC'].errors.required">
              Please enter IFSC!
          </div>
      </div> -->
      </div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Bank</mat-label>
            <mat-select formControlName="bankName">
                <mat-option value="sbi">SBI</mat-option>
                <mat-option value="icici">ICICI</mat-option>
                <mat-option value="iob">IOB</mat-option>
            </mat-select>


        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Branch</mat-label>
            <mat-select formControlName="branchName">
                <mat-option value="saibaba colony">Saibaba colony</mat-option>
                <mat-option value="gp">GP</mat-option>
                <mat-option value="Hopes">Hopes</mat-option>
            </mat-select>
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Acc type</mat-label>
            <mat-select formControlName="accountType">
                <mat-option value="savings">Savings</mat-option>
                <mat-option value="salary">Salary</mat-option>
                <mat-option value="current">Current</mat-option>
            </mat-select>
        </mat-form-field></div>
        </div>
      </div>    
</mat-tab>
    <mat-tab label="Insurance Details"><!-- Insurance Details -->

      <div class="container">
        <div class="row" formGroupName="general_insurance">
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Policy No</mat-label>
            <input matInput formControlName="policyNumber">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Company Coverage</mat-label>
            <input matInput formControlName="companyCoverage">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Policy Coverage</mat-label>
            <input matInput formControlName="policyCoverage">
        </mat-form-field></div>
        <!-- <button type="submit" (click)="updateEmployeeInsuranceDetails()">Update</button> -->
        </div>
      </div>    
    </mat-tab>
    <mat-tab label="Accident Insurance Details"> <!-- </form> -->
      <!-- Accident Insurance Details -->
      <!-- <form [formGroup] = "manageEmployeeForm"> -->

      <div class="container">
        <div class="row" formGroupName="accidental_insurance">
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Policy No</mat-label>
            <input matInput formControlName="policyNumber">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Company Coverage</mat-label>
            <input matInput formControlName="companyCoverage">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Policy Coverage</mat-label>
            <input matInput formControlName="policyCoverage">
        </mat-form-field></div>
          <!-- <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>AGT Number</mat-label>
            <input matInputformControlName="agtnumber">
        </mat-form-field></div> -->
          <div class="col-4 col-sm-4"></div>
          <div class="col-4 col-sm-4"></div>
        </div>
      </div>    

      </mat-tab>
    <mat-tab label="Loan Details"> 
      
      <form [formGroup]="ImageEmployeeForm">
        <div class="container">
          <div class="row">
          <h2>ID Proofs</h2>
            <div class="col-4 col-sm-4"><label>ID Proof1:
              <select  class="form-control">
                <option >Choose Options</option>
                <option *ngFor="let document of documentDetails">{{document.documentName}}</option>
              </select>
          <span class="required-field">*</span>
          <input #file type="file" accept='image/*' formControlName="Pan_photo" (change)="uploadImages1($event)"   />
         <img [src] ="engineImgURL ? engineImgURL : 'assets/images/empty_image.png'" style="width: 30%;object-fit: contain;
         object-position: center;">
          </label></div>
          
            <div class="col-4 col-sm-4"><label>ID Proof:
              <select  class="form-control">
                <option >Choose Options</option>
                <option *ngFor="let document of documentDetails">{{document.documentName}}</option>
              </select>
          <span class="required-field">*</span>
          <input #file type="file" accept='image/*' formControlName="Aadhar_photo" (change)="uploadImages2($event)"   />
          <img [src] ="engineImgURLS ? engineImgURLS : 'assets/images/empty_image.png'" style="width: 30%;object-fit: contain;
          object-position: center;">
        </label></div>
          </div>
        </div>    
      
      </form></mat-tab>
    <mat-tab label="Education Qualification"><!-- Education Qualification -->
     

      <div class="container">
        <div class="row"  formGroupName="school_qualification">
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>School/Qualification</mat-label>
            <input matInput formControlName="university">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Qualification</mat-label>
            <input matInput formControlName="qualification">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>%Obtained</mat-label>
            <input matInput formControlName="percentage">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Passing year</mat-label>
            <input matInput formControlName="passingyear">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>College Qualification</mat-label>
            <input matInput formControlName="university">
        </mat-form-field></div>          
        </div>
      </div>    

      <div class="container">
        <div class="row"  formGroupName="college_qualification">
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Qualification</mat-label>
            <input matInput formControlName="qualification">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>%Obtained</mat-label>
            <input matInput formControlName="percentage">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Passing year</mat-label>
            <input matInput formControlName="passingyear">
        </mat-form-field></div>

        </div>
      </div>    

      <div class="container">
        <div class="row"  formGroupName="graduate_qualification">
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>GraduateQualification</mat-label>
            <input matInput formControlName="university">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Qualification</mat-label>
            <input matInput formControlName="qualification">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>%Obtained</mat-label>
            <input matInput formControlName="percentage">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Passing year</mat-label>
            <input matInput formControlName="passingyear">
        </mat-form-field></div>

        </div>
      </div>    

      <div class="container">
        <div class="row" formGroupName="postgraduate_qualification">
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>PostgraduateQualification</mat-label>
            <input matInput formControlName="university">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Qualification</mat-label>
            <input matInput formControlName="qualification">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>%Obtained</mat-label>
            <input matInput formControlName="percentage">
        </mat-form-field></div>
          <div class="col-4 col-sm-4"><mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Passing year</mat-label>
            <input matInput formControlName="passingyear">
        </mat-form-field></div>

        </div>
      </div>    
     
      <button type="submit" (click)="updateEmployeeDetails();updateEmployeeEducationDetails();updateEmployeeInsuranceDetails()">Update</button>
      <button type="submit" (click)="manageEmployee()">Submit</button>

       </mat-tab>
       <!-- <button type="submit" (click)="updateEmployeeDetails()">update</button>
      <button type="submit" (click)="manageEmployee()">Submit</button> -->
  </form>
  </mat-tab-group>
  </div>
  </div>
  
      
  
</div>