/* Structure */

.allocation-table {
    padding: 30px;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
  }