
<!-- /** Enquiry List Search Fields */ -->

<div class="container">
  <div class="header_title">
    <h2>Enquiry List</h2>
    <div class="header_right">
    
    <div class="row">
      
        <div class="col-sm-4">
                <button type="button"  data-toggle="modal" data-target="#createEnquiryModal" class="btn_blue">
                    Create Enquiry
                </button>
        </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Search</mat-label>
          <input matInput type="search" (keyup)="applyFilter($event)"  placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        </mat-form-field>
    </div>
    </div>
  </div>
  </div>
  <div>
     <div class="row">
          <div class="col-md-4">
              <span class="left-title">From Date</span><br>
              <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [(ngModel)]="fromdate" [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field><br>
          </div>

          <div class="col-md-4">
              <span class="left-title">To Date</span><br>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [(ngModel)]="todate" [matDatepicker]="picker2"  >
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
        </div>

<button type="button" class="btn btn-primary" (click)="Filterdate()">Filter</button>
<button type="button" class="btn btn-secondary" (click)="clear()">Clear</button>



   
    

<!-- /** Enquiry List Table */ -->
    <!-- <table class="table">
        <thead>
          <tr>
            <th>Enquiry ID</th>
            <th>Applicant Name</th>
            <th>Applicant Mobile No.</th>
            <th>Vehicle Number</th>
            <th>Applicant Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Enroll of EnquiryVerfication_Data">
            <td>{{Enroll.id}}</td>
            <td>{{Enroll.customerName}}</td>
            <td>{{Enroll.mobileNumber}}</td>
            <td>{{Enroll.vehicleNumber}}</td>
            <td>{{Enroll.email}}</td>
            <td><button type="button" (click)="createLoan()">Create Loan</button></td>
          </tr>
        </tbody>
    </table>
</div> -->



    <div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" >

  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> SI.No </th>
    <td mat-cell *matCellDef="let element; let i = index;"> {{i}} </td>
  </ng-container>

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="Enquiry ID">
    <th mat-header-cell *matHeaderCellDef> Enquiry ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="customerName">
    <th mat-header-cell *matHeaderCellDef> customerName </th>
    <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="mobileNumber">
    <th mat-header-cell *matHeaderCellDef> mobileNumber </th>
    <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="vehicleNumber">
    <th mat-header-cell *matHeaderCellDef> vehicleNumber </th>
    <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="createLoan()" class="btn_blue">Create Loan</button>
       </td>
  </ng-container> 

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
</table>

<mat-paginator  [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  

<ng-container *ngIf="dataSource?.filteredData.length == 0">
  <div class="no_data_msg">No Data Avaliable</div>
</ng-container>
</div>

<!-- /** Create Enquiry Model*/ -->

<div class="modal fade" id="createEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="createEnquiryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createEnquiryModalLabel">Create Enquiry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
    <form [formGroup]="createEnquiryForms" >
            

            <div >
              <mat-form-field appearance="outline" class="example-full-width" >
                <mat-label>customerName</mat-label>
                <input matInput type='text' formControlName="customerName" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && createEnquiryForms.controls.vehicleNumber.errors  }">
            </mat-form-field>
            <div *ngIf="createEnquiryForms.controls['customerName'].invalid && (createEnquiryForms.controls['customerName'].dirty || createEnquiryForms.controls['customerName'].touched)" class="alert alert-danger">
              <div *ngIf="createEnquiryForms.controls['customerName'].errors.required">
                  Please enter customerName!
              </div>
          </div>
            </div>
            <div >
              <mat-form-field appearance="outline" class="example-full-width" >
                <mat-label >Mobile Number<span class="required-field">*</span></mat-label>
                <input matInput type='number' maxlength="10" formControlName="mobileNumber" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && createEnquiryForms.controls.mobileNumber.errors}" >
            </mat-form-field>
            <div *ngIf="createEnquiryForms.controls['mobileNumber'].invalid && (createEnquiryForms.controls['mobileNumber'].dirty || createEnquiryForms.controls['mobileNumber'].touched)" class="alert alert-danger">
              <div *ngIf="createEnquiryForms.controls['mobileNumber'].errors.required">
                  Please enter mobileNumber!
              </div>
              <div *ngIf="createEnquiryForms.controls['mobileNumber'].errors.pattern">
                Please, Enter 10 digit Mobile Number
            </div>
          </div>
            </div>

            <div >
              <mat-form-field appearance="outline" class="example-full-width" >
                <mat-label >Vehicle Number</mat-label>
                <input matInput type='text' id="code" #code formControlName="vehicleNumber"  maxlength="13" (input)="code.value=$event.target.value.toUpperCase()">
            </mat-form-field>
            <div *ngIf="createEnquiryForms.controls['vehicleNumber'].invalid && (createEnquiryForms.controls['vehicleNumber'].dirty || createEnquiryForms.controls['vehicleNumber'].touched)" class="alert alert-danger">
              <div *ngIf="createEnquiryForms.controls['vehicleNumber'].errors.required">
                  Please enter vehicleNumber!
              </div>
          </div>
            </div>
            <div>    
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput type='email' formControlName="email" placeholder="Ex. pat@example.com"   >
                <mat-error *ngIf="createEnquiryForms.hasError('email') && !createEnquiryForms.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="createEnquiryForms.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
            </mat-form-field> 
 
            </div>

    </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveEnquiry()"  data-toggle="modal" data-target="#generateEnquiryModal">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- /** Generate Enquiry Model*/ -->

  <div class="modal fade" id="generateEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="generateEnquiryModalLabel"  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <p>Enquiry Generated Successfully</p>
          <p>Enquiry ID: {{responseEnquiryId}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
  </div>