<div class="container">
    <div class="header_title">
        <h2>Letter</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4 col-sm-4">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Type</mat-label>
                        <input matInput type='text' >
                    </mat-form-field>
                </div>
                <div class="col-4 col-sm-4">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Acc No</mat-label>
                        <input matInput type='text'>
                    </mat-form-field>
                </div>
                <div class="col-4 col-sm-4">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput type='text' >
                    </mat-form-field>
                </div>
                <div class="col-4 col-sm-4">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput type='text'  >
                    </mat-form-field>
                </div>
            </div>
            <button class="btn_blue">Continue</button>
            </div>
            </div> 
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div>Name:</div>
                    <div>Address:</div>
                    <div>Vehicle No:</div>
                    <div>Make:</div>
                    <div>Model:</div>
                    </div>
            </div>
            <mat-checkbox  >Mark as Sent </mat-checkbox>
            <button class="btn_blue">View Letter</button>
            </div>
            </div>
</div>