<!-- <p>topup-loan works!</p> -->
<div class="container">
    <div class="col-sm-2">
    <input type="search" class="form-control" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
  </div>

<!-- /** Customer Based Table */ -->
<div class="card">
  <div class="card-body">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Select</th>
        <th>Acc No</th>
        <th>Name</th>
        <th>Contact No </th>
        <th>Vehicle No </th>
        <th>Cust Image</th>
        <th>Eligible Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let value of topUpLoanDetails">
        <td> 
            
        <input class="form-check-input" type="checkbox" value="">
        </td>
        <td>{{value.accountNo}}</td>
        <td>{{value.clientName}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <input type="submit" id="fname" name="fname" value="Create Top-up Loan" data-toggle="modal" data-target="#exampleModal">
        </td>
      </tr>
      
    </tbody>
</table>
</div>
</div>
</div>
   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="createEnquiryModalLabel">TOP_UP LOAN DETAILS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form >
               
                <div >
                  <mat-form-field  appearance="outline"   class="example-full-width" >
                    <mat-label>Loan Amount</mat-label>
                    <input matInput  type='text' >
                  </mat-form-field>
              </div>
              <div >
                <mat-form-field  appearance="outline"   class="example-full-width" >
                  <mat-label>Loan Term</mat-label>
                  <input matInput  type='text' >
                </mat-form-field>
            </div>
            <div >
              <mat-form-field  appearance="outline"   class="example-full-width" >
                <mat-label>Intrest %</mat-label>
                <input matInput  type='text' >
              </mat-form-field>
          </div>
          <div >
            <mat-form-field  appearance="outline"   class="example-full-width" >
              <mat-label>Repayment Mode</mat-label>
              <input matInput  type='text' >
            </mat-form-field>
        </div>
        <div >
          <mat-form-field  appearance="outline"   class="example-full-width" >
            <mat-label>Choose Customers Bank</mat-label>
            <input matInput  type='text' >
          </mat-form-field>
      </div>
      <div >
        <mat-form-field  appearance="outline"   class="example-full-width" >
          <mat-label>Transfer Mode</mat-label>
          <input matInput  type='text' >
        </mat-form-field>
    </div>
      
                
        </form>
        </div>
        <div class="modal-footer">
            <input type="submit" id="fname" name="fname" value="Create" data-toggle="modal" data-target="#sampleModal">
        </div>
      </div>
    </div>
  </div>
  


    <!-- Modal -->
    <div class="modal fade" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="sampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Top-up Loan Created Successfully
            </div>
          </div>
        </div>
      </div>
      