<!-- <p>topup-loan works!</p> -->
<div class="container">
    <div class="col-sm-2">
    <input type="search" class="form-control" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
  </div>

<!-- /** Customer Based Table */ -->
<div class="card">
  <div class="card-body">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Select</th>
        <th>Acc No</th>
        <th>Select</th>
        <th>Acc No</th>
        <th>Name</th>
        <th>Contact No </th>
        <th>Vehicle No </th>
        <th>Cust Image</th>
        <th>Eligible Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 
            
        <input class="form-check-input" type="checkbox" value="">
        </td>
        <td>KF-12</td>
        <td> 
        <input class="form-check-input" type="checkbox" value="">
        </td>
        <td>KF-12</td>
        <td>Ada Lovelace</td>
        <td>99999999999</td>
        <td>TN 32 DA 2424</td>
        <td></td>
        <td>1,00,000</td>
        <td>
            <input type="submit" id="fname" name="fname" value="Create Top-up Loan" data-toggle="modal" data-target="#exampleModal">
                </td>
      </tr>
      <tr>
        <td> 
            
        <input class="form-check-input" type="checkbox" value="">
        </td>
        <td>KF-13</td>
        <td> 
        <input class="form-check-input" type="checkbox" value="">
        </td>
        <td>KF-13</td>
        <td>Grace Hopper</td>
        <td>99999999999</td>
        <td>TN 32 DA 2424</td>
        <td></td>
        <td>1,00,000</td>
        <td>
            <input type="submit" id="fname" name="fname" value="Create Top-up Loan" data-toggle="modal" data-target="#exampleModal">
      </td>
      </tr>
      <tr>
        <td> 
            
        <input class="form-check-input" type="checkbox" value="">
        </td>
        <td>KF-14</td>
        <td> 
        <input class="form-check-input" type="checkbox" value="">
        </td>
        <td>KF-14</td>
        <td>Margaret Hamilton</td>
        <td>99999999999</td>
        <td>TN 32 DA 2424</td>
        <td></td>
        <td>1,00,000</td>
        <td>
            <input type="submit" id="fname" name="fname" value="Create Top-up Loan" data-toggle="modal" data-target="#exampleModal">
      </td>
      </tr>
      <tr>
        <td> 
            
        <input class="form-check-input" type="checkbox" value="">
        </td>
        <td>KF-15</td>
        <td> 
        <input class="form-check-input" type="checkbox" value="">
        </td>
        <td>KF-15</td>
        <td>joan Clarke</td>
        <td>99999999999</td>
        <td>TN 32 DA 2424</td>
        <td></td>
        <td>1,00,000</td>
        <td>
            <input type="submit" id="fname" name="fname" value="Create Top-up Loan" data-toggle="modal" data-target="#exampleModal">
      </td>
      </tr>
    </tbody>
</table>
</div>
</div>
</div>
   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="createEnquiryModalLabel">TOP_UP LOAN DETAILS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form >
                <div>
                    <label>Loan Amount</label>
                    <input type="text"  placeholder="placeholder"  class="form-control">
                </div>
                <div>
                    <label>Loan Term</label>
                    <input type="text"  placeholder="placeholder"  class="form-control">
                </div>
                <div>
                    <label>Intrest %</label>
                    <input type="text"  placeholder="placeholder"  class="form-control">
                </div>
                <div>
                    <label>Repayment Mode</label>
                    <input type="text"  placeholder="Cash"  class="form-control">
                </div>
                <div>
                    <label>Choose Customers Bank</label>
                    <input type="text"  placeholder="SBI"  class="form-control">
                </div>
                <div>
                    <label>Transfer Mode</label>
                    <input type="text"  placeholder="cash"  class="form-control">
                </div>
        </form>
        </div>
        <div class="modal-footer">
            <input type="submit" id="fname" name="fname" value="Create" data-toggle="modal" data-target="#sampleModal">
        </div>
      </div>
    </div>
  </div>
  


    <!-- Modal -->
    <div class="modal fade" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="sampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Top-up Loan Created Successfully
            </div>
          </div>
        </div>
      </div>
      