

<!-- /** Customer Based Search Fields */ -->
<div class="container">

  <div class="header_title">
    <h2>Customer Management</h2>
    </div>
    <div class="card">
      <div class="card-body">
<div class="row">
    <div class="col-sm-3">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Application State</mat-label>
        <mat-select>
            <mat-option value="new">New Application</mat-option>
            <mat-option value="old">Old Application</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Status</mat-label>
        <mat-select>
            <mat-option value="approved">Approved</mat-option>
            <mat-option value="notapproved">Not Approved</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    
    <div class="col-sm-2">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Area</mat-label>
        <mat-select>
            <mat-option value="thudialore">Thudialore</mat-option>
            <mat-option value="gandhipuram">Gandhipuram</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Search</mat-label>
        <input matInput type="search" (keyup)="applyFilter($event)"  placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
      </mat-form-field>
  </div>
</div>
</div></div>

<!-- /** Customer Based Table */ -->

<div class="card">
  <div class="card-body">
<table mat-table [dataSource]="dataSource" >

  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> SI.No </th>
    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
  </ng-container>


  <ng-container matColumnDef="customerName">
    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
    <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
  </ng-container>

  <ng-container matColumnDef="mobileNo">
    <th mat-header-cell *matHeaderCellDef> Contact no </th>
    <td mat-cell *matCellDef="let element"> {{element.customerDetails.mobileNo}} </td>
  </ng-container>

  <ng-container matColumnDef="altNumber">
    <th mat-header-cell *matHeaderCellDef> Alternative number </th>
    <td mat-cell *matCellDef="let element"> {{element.customerDetails.altNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef> D.O.B </th>
    <td mat-cell *matCellDef="let element"> {{element.customerDetails.dob | date:"dd MMMM yyyy"}} </td>
  </ng-container>
  <ng-container matColumnDef="fatherName">
    <th mat-header-cell *matHeaderCellDef>Father’s Name</th>
    <td mat-cell *matCellDef="let element"> {{element.customerDetails.fatherName}} </td>
  </ng-container>
  
  <ng-container matColumnDef="vehicleNumber">
    <th mat-header-cell *matHeaderCellDef> vehicleNumber </th>
    <td mat-cell *matCellDef="let element">{{element.vehicleDetails.vehicleNumber}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="Loanprocess(element.id)" class="btn_blue">View More</button>
       </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
</table>

<ng-container *ngIf="dataSource?.filteredData.length == 0">
  <div class="no_data_msg">No Data Avaliable</div>
</ng-container>
</div>

</div>
