
<div class="container">
  <div class="header_title">
    <h2>Receipt</h2>
    <div class="header_right">
      
    </div>
  </div>


  <!-- As Mock -->
<div class="card">
<div class="card-body">
  <div class="row" *ngFor="let loan of getCustomerLoanDetails">
    <div class="col-sm-2">
      <div> <img [src]="customerImage ? customerImage : 'assets/images/empty_image.png'" style="width: 30%;object-fit: contain;
        object-position: center;"></div>
      <div>Customer ID: {{loan.id}}</div>
    </div>
    <div class="col-sm-2">
      <div>{{loan.customerDetails.name}}</div>
      <div>{{loan.customerDetails.mobileNo}}</div>
    </div>
    <div class="col-sm-2">
      <div>Loan Amount: {{loan.loanDetailsData.loanAmount}}</div>
      <div>Loan Term: {{loan.loanDetailsData.loanTerm}}</div>
      <div>EMI: {{loan.loanDetailsData.emi}}</div>
      <div>Intrest: {{loan.loanDetailsData.interestInr}}</div>
    </div>
    <div class="col-sm-2">
      <div>Paid Due:</div>
      <div>Current Due: </div>
      <div>Pending Due: </div>
    </div>
    <div class="col-sm-2">
      <div>TO PAY:  {{loan.loanDetailsData.payout}}</div>
    </div>
  </div>
</div>
</div>

  <div class="row" >
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="loanRepaymentForm">
      <p>CREATE RECEIPT:</p>
      <div class="row">
        <!-- <form [formGroup]="loanRepaymentForm"> -->
      <div class="col-md-6">   
      

          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Create Receipt</mat-label>
          <mat-select  >
          <mat-option value="Parentloan">Parent Loan</mat-option>
                <mat-option value="childloan">Child loan</mat-option>
                <mat-option value="Topuploan">Topup loan</mat-option>
                </mat-select>
          </mat-form-field>
    </div>
    
    
      <div class="col-md-6">
        
          <mat-form-field  appearance="outline"  class="example-full-width">
            <mat-label>Total Payable</mat-label>
          <input matInput type="number" id="fname" placeholder="9,000" name="fname">
          </mat-form-field>
    </div>
    
    <div class="col-md-6">
        
      <mat-form-field  appearance="outline"  class="example-full-width">
        <mat-label>Enter amount</mat-label>
      <input matInput formControlName="transactionAmount" type="number" id="fname"  name="fname">
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline" class="example-full-width">
      <input matInput [matDatepicker]="dp" placeholder="Today Date" formControlName="transactionDate">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
  </div>



    <div class="col-md-6">
        
      <mat-form-field  appearance="outline"  class="example-full-width">
        <mat-label>Handloan</mat-label>
      <input matInput type="number" id="fname"  name="fname">
      </mat-form-field>
    </div>
    <div class="col-md-6">   
      
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Insurance</mat-label>
      <mat-select  >
      <mat-option value="Insurance">Insurance</mat-option>
            <!-- <mat-option value="childloan">Child loan</mat-option>
            <mat-option value="Topuploan">Topup loan</mat-option> -->
            </mat-select>
      </mat-form-field>
      
    </div>

      <div class="col-md-6">
    <mat-form-field  appearance="outline"  class="example-full-width">
      <mat-label>Delay payment interest</mat-label>
    <input matInput type="number" id="fname"  name="fname">
    </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field  appearance="outline"  class="example-full-width">
        <mat-label>Due amount</mat-label>
      <input matInput type="number" id="fname"  name="fname">
      </mat-form-field>
      </div>


      <div class="col-md-6">
        <mat-form-field  appearance="outline"  class="example-full-width">
          <mat-label>Balance</mat-label>
        <input matInput type="number" id="fname" placeholder="2300" name="fname">
        </mat-form-field>
        </div>
    
        <div class="col-md-6">   
      
          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Pay mode</mat-label>
          <mat-select  >
          <mat-option value="cash">Cash</mat-option>
          <mat-option value="online">Online</mat-option>
                </mat-select>
          </mat-form-field>
    </div>
    <!-- <button type="submit" (click) = "loanRepaymentReceipt()" >Create</button> -->
    <div class="col-sm-2">
      <div>
          <button type="button"  data-toggle="modal" data-target="#createEnquiryModal" class="btn_blue">
              Create
          </button>
      </div>
    </div>
  <!-- </form> -->
    </div>
  </form>

    </div></div>

    </div>
    <div class="col-md-6"><div class="card">
      <div class="card-body">

        <div class="col-md-6">
        
          <mat-form-field  appearance="outline"  class="example-full-width">
            <mat-label>Receipt No</mat-label>
          <input matInput type="number" id="fname"  name="fname">
          </mat-form-field>
    </div>
    <div class="col-md-6">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Repossessed</mat-radio-button>
      <mat-radio-button value="2" data-toggle="modal" data-target="#release">Release</mat-radio-button>
    </mat-radio-group>
    </div>



          <h3>HAND LOAN:</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>CREATED DATE</th>
                <th>REC DATE</th>
                <th>HAND LOAN</th>
                <th>CREDIT</th>
                <th>DEBIT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>23.03.2021</td>
                <td></td>
                <td>INSURANCE</td>
                <td></td>
                <td>1000</td>
              </tr>
              <tr>
                <td></td>
                <td>25.03.2021</td>
                <td>INSURANCE</td>
                <td>500</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Pending Amount</td>
                <td>500</td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div></div></div>
  </div>

  
<!-- table -->
<mat-tab-group>
  <mat-tab label="Parent Loan"> 

<!-- <div class="card">
  <div class="card-body">
        <table class="table table-striped"> -->
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Loan Type</th>
              <th>Due Date</th>
              <th>Due Amount</th>
              <th>Receipted Date</th>
              <th>Due Received</th>
              <th>Due Balance</th>
              <th>Delay Days</th>
              <th>Default</th>
              <th>Received</th>
              <th>Action</th>
            </tr>
          </thead>
          
          <tbody *ngFor="let tableValue of receiptData,let i = index">
            
            <tr>
              <td>{{i + 1}}</td>
              <td>{{loanType.value}}</td>
              <td>{{tableValue.dueDate | date:"dd MMMM yyyy"}}</td>
              <td>{{tableValue.totalDueForPeriod}}</td>
              <td>{{tableValue.fromDate | date:"dd MMMM yyyy"}}</td>
              <td>{{transactions[i]}}</td>
              <td>{{transactions[i] - tableValue.totalDueForPeriod}}</td>
              <td>{{delayDays}}</td>
              <td>200</td>
              <td>200</td>
              <td>
                <button type="button" class="btn_blue"> <span>Edit</span></button>
              </td>
            </tr>
            
          </tbody>
        <!-- </table>
      </div></div> -->

    </mat-tab>
  <!-- Child Loan -->
  <mat-tab label="Child Loan"> 

    <!-- <div class="card">
      <div class="card-body">
            <table class="table table-striped"> -->
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Loan Type</th>
                  <th>Due Date</th>
                  <th>Due Amount</th>
                  <th>Receipted Date</th>
                  <th>Due Received</th>
                  <th>Due Balance</th>
                  <th>Delay Days</th>
                  <th>Default</th>
                  <th>Received</th>
                  <th>Action</th>
                </tr>
              </thead>
              
              <tbody *ngFor="let tableValue of receiptData,let i = index">
                
                <tr>
                  <td>{{i + 1}}</td>
                  <td>{{loanType.value}}</td>
                  <td>{{tableValue.dueDate | date:"dd MMMM yyyy"}}</td>
                  <td>{{tableValue.totalDueForPeriod}}</td>
                  <td>{{tableValue.fromDate | date:"dd MMMM yyyy"}}</td>
                  <td>{{transactions[i]}}</td>
                  <td>{{transactions[i] - tableValue.totalDueForPeriod}}</td>
                  <td>{{delayDays}}</td>
                  <td>200</td>
                  <td>200</td>
                  <td>
                    <button type="button" class="btn_blue"> <span>Edit</span></button>
                  </td>
                </tr>
                
              </tbody>
            <!-- </table>
          </div></div> -->
    
        </mat-tab>
  <!-- Top-up Loan -->
  <mat-tab label="Top-up Loan" > 
<!-- *ngIf = "Topup? false :true" -->
    <!-- <div class="card">
      <div class="card-body"> -->
            <table  *ngIf = "Topup == true">
              
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Loan Type</th>
                  <th>Due Date</th>
                  <th>Due Amount</th>
                  <th>Receipted Date</th>
                  <th>Due Received</th>
                  <th>Due Balance</th>
                  <th>Delay Days</th>
                  <th>Default</th>
                  <th>Received</th>
                  <th>Action</th>
                </tr>
              </thead>
              
              <tbody *ngFor="let tableValue of receiptData,let i = index">
                
                <tr>
                  <td>{{i + 1}}</td>
                  <td>{{loanType.value}}</td>
                  <td>{{tableValue.dueDate | date:"dd MMMM yyyy"}}</td>
                  <td>{{tableValue.totalDueForPeriod}}</td>
                  <td>{{tableValue.fromDate | date:"dd MMMM yyyy"}}</td>
                  <td>{{transactions[i]}}</td>
                  <td>{{transactions[i] - tableValue.totalDueForPeriod}}</td>
                  <td>{{delayDays}}</td>
                  <td>200</td>
                  <td>200</td>
                  <td>
                    <button type="button" class="btn_blue"> <span>Edit</span></button>
                  </td>
                </tr>
                
              </tbody>
            </table>
          <!-- </div></div> -->
    
        </mat-tab>
    </mat-tab-group>
    

      <!-- models -->

    
    <div class="modal fade" id="createEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="createReceiptModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
      
              
              <div>    
                <h3>Confirmation</h3>
                  <label>Receipt created Successfully for You</label>
                  <input type="email" placeholder="Enter amount" class="form-control">
                  
              </div>
  
      
          </div>
          <div class="modal-footer">
            
            <button type="submit" (click)="openPDF()" class="btn btn-primary"  data-dismiss="modal" data-toggle="modal"  data-target="#generateEnquiryModal">Print</button>
            
          </div>
    

        </div>
      </div>
    </div>
    

    <!-- Model for release -->
    <div class="modal fade" id="release" tabindex="-1" role="dialog" aria-labelledby="createReceiptModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
      
              
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Customer</mat-radio-button>
              <mat-radio-button value="2" data-toggle="modal" data-target="#sold">Sold</mat-radio-button>
            </mat-radio-group>
  
      
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-primary"  data-dismiss="modal" data-toggle="modal"  data-target="#generateEnquiryModal">Confirm</button>
            <!-- (click)="generatePdf()" -->
          </div>
        </div>
      </div>
    </div>

    <!-- Model for Sold -->

    <div class="modal fade" id="sold" tabindex="-1" role="dialog" aria-labelledby="createReceiptModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
      
            <mat-form-field  appearance="outline"  class="example-full-width">
              <mat-label>Sold To</mat-label>
            <input matInput type="number" id="fname"  name="fname">
            </mat-form-field>
            <mat-form-field  appearance="outline"  class="example-full-width">
              <mat-label>Sold Amount</mat-label>
            <input matInput type="number" id="fname"  name="fname">
            </mat-form-field>
            <mat-form-field  appearance="outline"  class="example-full-width">
              <mat-label>Payable to customer</mat-label>
            <input matInput type="number" id="fname"  name="fname">
            </mat-form-field>
            <mat-form-field  appearance="outline"  class="example-full-width">
              <mat-label>To be received by customer</mat-label>
            <input matInput type="number" id="fname"  name="fname">
            </mat-form-field>

            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> I Agree</label><br>
  
      
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-primary"  data-dismiss="modal" data-toggle="modal"  data-target="#generateEnquiryModal">Submit</button>
            <!-- (click)="generatePdf()" -->
          </div>
        </div>
      </div>
    </div>

    

</div>
      
<!-- Print pdf -->
<div class="container" >
  <div id="pdfTable" >
  
    <!-- <table class="table table-striped" *ngIf="arrayOfPrint.length > 0">
      <thead >
        <tr>
          <th>Enter Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let print of arrayOfPrint;let i = index;">
          <td>{{print.postDate | date:"dd MMMM yyyy"}}</td>
          <td>{{print.transactionAmount}}</td>
        </tr>
      </tbody>
    </table> -->
    <div>Enter amount</div>  
  <div>{{printData}}</div>
  </div>
</div>