<!-- /** Cashier Dashboard */ -->
<div class="container">
    <div class="header_title">
      <h2>Customers On Line</h2>
      <div class="header_right">
      <button type="button"  class="btn_blue" (click)="advancedSearch()" >
        Advanced Search 
       </button> 
      </div>
    </div>
    <!-- <div class="header_title">
      <h2>Customers Online</h2>
    </div>     -->
  <div class="card" *ngFor = "let values of loanTransferData">
    <div class="card-body">
      <div class="row">
        <div (click)="customerOnline()">({{values.customerOnLine}}) New Customers Are Waiting For Loan Amount Transfer  <button class="btn_blue" >View All</button></div> 
      </div>
    </div>
  </div>
  
  <div class="header_title">
    <h2>Beneficiary Added</h2>
  </div>
  <div class="card" *ngFor = "let values of loanTransferData">
    <div class="card-body">
      <div class="row">
        <div (click)="loanAmountAdded()">({{values.newBankAccount}}) Customers Bank Account Added Need to Verify<button class="btn_blue" >View All</button></div> 
      </div>
    </div>
  </div>

  <div class="header_title">
    <h2>Customer Loan Amount Added</h2>
  </div>
  <div class="card" *ngFor = "let values of loanTransferData">
    <div class="card-body">
      <div class="row">
        <div>({{values.customerLoanTransferred}}) Customer's Loan Amount Need to be Tranferred<button class="btn_blue" >View All</button></div> 
      </div>
    </div>
  </div>
  
  <button class="btn default">Loan Amount Transferred 10,50,000</button><br><br>
  <button class="btn default">Bank Account Verified 120 Nos</button><br><br>
  
  </div>