<!-- /** Create Role */ -->
<div class="container">
    <div class="header_title">
      <h2>Create Role</h2>
    </div>
    <div class="card">
        <div class="card-body">
    <form [formGroup]="createRoleForms" >
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
    <div class="row">
        <div class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput type='text' formControlName="name">
            </mat-form-field>
        </div>
        <div class="col-4 col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Description</mat-label>
                <input matInput type='text' formControlName="description">
            </mat-form-field>
        </div>
    </div>
    <div class="col-12 col-sm-12">
        <button type="button" class="btn btn-secondary"  (click)="close()">Close</button>
        <button type="button" class="btn btn-primary"  (click)="saveUpdateRole()" > {{editDataRole ? 'Update' : 'Save'}}
        </button>
    </div>
    </form>
  </div>
  </div>
  </div>