

<div class="container">
<!-- User/Permission -->

<div class="header_title">
  <h2>User Role Permission</h2>
  <button type="button" class="btn_blue" data-toggle="modal" data-target="#exampleModal">
    Create User
  </button>
    </div>

<!-- /** Create Task Button */ -->

<!-- 
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" (click)="user()">User</a></li>
    <li><a data-toggle="tab" (click)="permission()">Permission</a></li>
  </ul> -->
  <div class="card">
    <div class="card-body">
  <mat-tab-group>
    <mat-tab label="User"> 
  <table class="table table-striped">
    <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th> 
      <th>Designation</th>
      <th>Branch Name</th>
      <th>Contact Number</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let user of userListData;let i = index;">
      <td>{{i+1}}</td>
      <td>{{user.name}}</td>
      <td></td>
      <td>{{user.officeName}}</td>
      <td>{{user.username}}</td>
      <td></td>
      <td data-toggle="modal" data-target="#exampleModal">Edit</td>
    </tr>
  </tbody>
  </table>  
</mat-tab>
    <mat-tab label="Permission"> 
      
      <table class="table table-striped">
        <thead>
        <tr>
          <th>sr.no</th>
          <th>Branch</th> 
          <th>New customer</th>
          <th>Loan Amount</th>
          <th>Creadit Date</th>
          <th>Target Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Thudialore</td>
          <td>60</td>
          <td>10000</td>
          <td>01.Mar.2021</td>
          <td>21.Mar.2021</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Koundampalayam</td>
            <td>52</td>
            <td>50000</td>
            <td>01.Mar.2021</td>
            <td>21.Mar.2021</td>
        </tr>      
      </tbody>      
      </table>

    </mat-tab>
  </mat-tab-group>
</div></div>


    

  <!-- /** Create Task Model */ -->

<div class="modal fade" id="createtaskModal" tabindex="-1" role="dialog" aria-labelledby="createtaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createtaskModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <h4>Assign Customer</h4> -->
          <div >
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>NAME</mat-label>
              <input matInput type="text" id="fname" name="fname" pattern="[A-Za-z]" >
            </mat-form-field>
        </div>
        <div >
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>DESIGNATION</mat-label>
            <input matInput type="text" id="fname" name="fname">
          </mat-form-field>
      </div>
      <div >
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>number</mat-label>
          <input matInput type="number" id="fname" name="fname">
        </mat-form-field>
    </div>
    <div >
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>ACCOUNT STATUS</mat-label>
        <input matInput type="text" id="fname" name="fname">
      </mat-form-field>
  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send for Approval</button>
        </div>
      </div>
    </div>
  </div>
  </div>

<!-- Manage Employee -->

<div class="container">
<div class="card">
  <div class="card-body">
  <button class="btn default" >Total(10)</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th> 
      <th>Designation</th>
      <th>Contact Number</th>
      <th>Vehicle No</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>01</td>
      <td>Ada Lovelce</td>
      <td>Field executive</td>
      <td>789456123</td>
      <td>TN 37  DA 4562</td>
      <td>Approve</td>
      <td>Edit</td>
      
    </tr>
    <td>01</td>
      <td>Grace</td>
      <td>Sr. Field executive</td>
      <td>789456123</td>
      <td>TN 37  DA 4562</td>
      <td>Approve</td>
      <td>Edit</td>
    </tbody>
  </table>  
</div></div></div>