

<div class="container">
<!-- User/Permission -->

  <div class="header_title">
    <h2>Roles & Permission</h2>
  </div>


  <div class="card">
  <div class="card-body">
    <!-- /** Role List */ -->
    <mat-tab-group>
      <mat-tab label="Role"> 
      <button type="button" class="btn_blue" (click)="createEditRole(null)">
        Create Role
      </button>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>S.No</th>
          <th>Designation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let role of roleListData;let i = index;">
          <td>{{i+1}}</td>
          <td>{{role.description}}</td>
          <td><button type="button" class="btn_blue" (click)="createEditRole(role)">Edit</button></td>
        </tr>
      </tbody>
      </table>  
    </mat-tab>

    <!-- /** Permission List */ -->
    <mat-tab label="Permission"> 
      <button type="button" class="btn_blue" (click)="createPermission()">
        Create Permission
      </button>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>S.No</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let role of roleListData;let i = index;">
          <td>{{i+1}}</td>
          <td>{{role.name}}</td>
          <td>{{role.description}}</td>
          <td><button type="button" class="btn_blue" >Edit</button></td>
        </tr>
      </tbody>
      </table> 
      </mat-tab>
    </mat-tab-group>
  </div>
  </div>

  </div>

