


       

        
        

  <div class="container">

    <!-- popup -->

<div class="modal fade" id="createEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="createEnquiryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="vehicledetailss">
      <div class="modal-header">
        <h5 class="modal-title" id="createEnquiryModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >

        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="">Vehicle Loan</mat-radio-button>
          <mat-radio-button value="">Personal loan</mat-radio-button>
        </mat-radio-group>

            
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Previous</button>
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#generateEnquiryModal" (click) = "vehicledetailss=false;usedvehicle=true;self=false">Next</button>
      </div>
    </div>

    <div class="modal-content" *ngIf="usedvehicle">
      <div class="modal-header">
        <h5 class="modal-title" id="createEnquiryModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <mat-radio-group aria-label="Select an option" >
          <mat-radio-button value="">For New Vehicle</mat-radio-button>
          <mat-radio-button value="">For Used Vehicle</mat-radio-button>
        </mat-radio-group>

     
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Previous</button>
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#generateEnquiryModal" (click) = "vehicledetailss=false;usedvehicle=false;self=true">Next</button>
      </div>
    </div>

    <div class="modal-content" *ngIf="self">
      <div class="modal-header">
        <h5 class="modal-title" id="createEnquiryModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        
        <mat-radio-group aria-label="Select an option" >
          <mat-radio-button value="">TakeOver</mat-radio-button>
          <mat-radio-button value="">Self</mat-radio-button>
          <mat-radio-button value="">Buyer Seller</mat-radio-button>
        </mat-radio-group>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Previous</button>
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#generateEnquiryModal" (click) = "vehicledetailss=false;usedvehicle=false;self=false; vehicledetail()">Next</button>
      </div>
    </div>


  </div>
</div>




  <!-- Search form -->

  <form class="form-inline md-form form-sm active-cyan-2">
  
    <button type="button"  (click)="advancedSearch()">
     Advanced Search
    </button> 
   </form><br><br>

   <div class="row">
    <div class="col-sm-2">
      <div> New Loans</div>
      <div>24 Nos</div>
      <div>$1,00,000</div>
    </div>  
    <div class="col-sm-2">
      <div> Closed Loans</div>
      <div>24 Nos</div>
      <div>$1,00,000</div>
    </div>  
    <div class="col-sm-2">
      <div>Repossessed</div>
      <div>24 Nos</div>
    </div>
    <div class="col-sm-2">
      <div>Insurance</div>
      <div>10 Nos</div>
    </div>
    <div class="col-sm-2">
      <div>COLLECTION AMOUNT</div>
      <div>10,000</div>      
    </div>
  </div>
  
  
  
  <button class="btn default" (click)="customer()">Customer List (6,773)</button>
  <button class="btn default"(click)="enquiry()">New Enquiry (224)</button><br><br>
  <button class="btn default" (click)="customerEntrol()">New Customer Enrolement (6,773)</button><br><br>
  <!-- <button class="btn default" (click)="newLoan()">New Loan</button><br><br> -->
  <div class="col-sm-2">
    <div>
        <button type="button"  data-toggle="modal" data-target="#createEnquiryModal" (click) = "vehicledetailss=true">
            New Loan
        </button>
    </div>
  </div>
  <button class="btn default" (click)="loanVerification()">Loan Verification and Approval</button><br><br>
  
 
  <!-- Task details status -->
  <div>
    <div>Task Details Branch manager</div>
    <button class="btn default" >Total(10)</button>
    <button class="btn default" >Open(10)</button><br><br>
    <button class="btn default" >Completed(10)</button>
    <button class="btn default" >Inprogress(10)</button>
  </div>
  <div>
    <div>Task Details Head Office</div>
    <button class="btn default" >Total(10)</button>
    <button class="btn default" >Open(10)</button><br><br>
    <button class="btn default" >Completed(10)</button>
    <button class="btn default" >Inprogress(10)</button>
  </div>

        <!--EMI  -->
        <div class="container">
          <div class="spacer">
            <div class="row">
              <div class="col-lg-8  col-lg-offset-1">
                <div class="well">
        
                  <div class="form-group">
                    <div class="col-md-12">
                      <span class="left-title">
                        EMI Calculator
                      </span>
                        <input type="number" id="fname" name="fname">
                    </div>
                  </div><br>
        
        
                  <div class="form-group">
                    <div class="col-md-12">
                      <span class="left-title">
                        Interest %
                      </span>
                        <input type="number" id="fname" name="fname"><br>
                    </div>
                  </div>
        
                  <hr />
        
                  <div class="form-group">
                    <div class="col-md-10">
                      <span class="left-title">Loan Term</span>
                      
                        <input type="number" id="fname" name="fname"><br>
                    </div><br>
                   <div>
                    <span class="left-title">Loan Date</span><br>
                    <mat-form-field appearance="fill">
                      <mat-label>Choose a date</mat-label>
                      <input matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field><br>
                </div>
            <div>
                    <span class="left-title">Due Date</span><br>
                    <mat-form-field appearance="fill">
                      <mat-label>Choose a date</mat-label>
                      <input matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
            </div>
                    <div class="col-md-2">
                      <div class="input-group-append">
                  
                      </div>
                    </div>
                
                  </div>
        
        
                </div>
        
              </div>
              <div class="col-lg-3">
                <div class="well">
        
                  <div class="jusify-center">
                    <h5>
                      Due Amount
                    </h5>
                    <span class="result">
                    </span>
                    <input type="number" id="fname" name="fname"><br><br>
                  </div>
        
                  <hr />
        
                  <div>
                    <h5>
                      Difference Amount
                    </h5>
                    <span class="result">
                      <!-- {{result.interest || "--"}} -->
                      
                    </span>
                    <input type="number" id="fname" name="fname"><br><br>
                  </div>
        
                  <hr />
                  <div>
                    <span class="result">
                      <!-- {{result.total || "--"}} -->
                    </span>
                  </div>
        
        
        
                </div>
              </div>
            </div>
          </div>
        </div>
  
    </div>








<!-- popup -->

<div class="col-sm-2">
  <div>
      <button type="button"  data-toggle="modal" data-target="#createEnquiryModal">
          xyz
      </button>
  </div>
</div>


<div class="modal fade" id="createEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="createEnquiryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createEnquiryModalLabel">Create Enquiry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <form>
          <div>
              <label>Customer Name</label>
              <input type="text"   class="form-control">
          </div>
          <div>    
              <label>Mobile Number
                <span class="required-field">*</span>
              </label>
              <input type="text"    class="form-control" >
                <!-- <div *ngIf="submitted && createEnquiryForms.controls.mobileNumber.errors" class="invalid-feedback"> -->
                  <div class="required-field">Mobile Number is required</div>
                <!-- </div>   -->
          </div>
          <div>    
              <label>Vehicle Number</label>
              <span class="required-field">*</span>
              <input type="text"    class="form-control" >
              <!-- <div *ngIf="submitted && createEnquiryForms.controls.vehicleNumber.errors" class="invalid-feedback"> -->
                <div class="required-field">Vehicle Number is required</div>
              <!-- </div>   -->
          </div>
          <div>    
              <label>Email</label>
              <input type="email"   class="form-control">
          </div>
          <div>    
            <label>Enquiry Id</label>
            <input type="text"    class="form-control">
        </div>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#generateEnquiryModal">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- /** Advanced Search  Table*/ -->

<div class="container" *ngIf="showTable">
  <table class="table">
      <thead>
        <tr>
          <th>Ac.No</th>
          <th>Name</th>
          <th>Contact No</th>
          <th>Branch</th>
          <th>Vehicle No</th>
          <th>Customer Image</th>
          <th>Due Pending</th>
          <th>Loan Amount</th>
          <th>Due Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>K-0012</td>
          <td>Ada Lovelance</td>
          <td>9998877766</td>
          <td>Thudialore</td>
          <td>TN 32 DA 3232</td>
          <td></td>
          <td>Nil</td>
          <td>1,00,000</td>
          <td>05.Mar.2021</td>
          <td><span>Receipt</span>
            <span>ReLoan</span>
            <span>CloseLoan</span>
          </td>
        </tr>
        <tr>
          <td>K-0013</td>
          <td>Ada Lovelance</td>
          <td>9998877766</td>
          <td>Sulur</td>
          <td>TN 32 DA 3434</td>
          <td></td>
          <td>Nil</td>
          <td>1,00,000</td>
          <td>05.Dec.2021</td>
          <td><span>Receipt</span>
            <span>ReLoan</span>
            <span>CloseLoan</span>
          </td>
        </tr>
      </tbody>
  </table>
  </div>

  