.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  color: white;
  background-color: white;
}  

// Search
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4b5557;
  }

  .active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    }

  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  .default:hover {
    background: #e7e7e7;
  }

  .btns {
    background-color: #f0f5fa;
    color: rgb(7, 4, 4);
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .btn:hover, .dropdown:hover .btn {
    background-color: #0b7dda;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  // EMI
  // Emi
.left-title{
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
.result{
  font-size: 16px;
  font-weight: 600;
}
h5,h6{
  color: gray;
}
.active{
  background-color: lightgray;
}

h1{
  font-size: 35px;
  color: gray;
}
@media only screen and (max-width: 768px) {
  h1{
      font-size: 15px;
      color: gray;
  }
 
}
@media only screen and (min-width: 992px) {
  h1{
      font-size: 35px;
      margin-bottom: -20px;   
  }
}

.ng5-slider .ng5-slider-bubble{
  font-size: 12px!important;
}
.ngx-slider {
  .ngx-slider-selection {
    background: rgb(255, 255, 0) !important;
  }
}
::ng-deep {
  .ng5-slider {
    .ng5-slider-pointer{
      width: 20px!important;
    height: 20px!important;
    top: -8px!important;
    }
    .ng5-slider-pointer:after {
      top: 6px!important;
      left: 6px!important;
  }
  .ng5-slider-bubble {
    font-size: 12px!important;
}
  }
}

// Doughtnut Chart
.highcharts-figure, .highcharts-data-table table {
  min-width: 320px; 
  max-width: 660px;
  margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}