<div class="container">
    <button class="btn default" >New</button><br><br>
    <!-- <button class="btn default" ></button><br><br> -->
    <li class="has-sub"> <a href="#">Action<br></a>
        
          <a [routerLink]="" mat-menu-item >Print</a>
          <a [routerLink]="" mat-menu-item >Cancel</a>
          <a [routerLink]="" mat-menu-item >Delete</a>
        
      </li>
<div class="col-sm-4">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="card">
        <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Post Date</th>
                    <th>AGT No</th>
                    <th>Customer Name</th>
                    <th>Post Type</th>
                    <th>Agent</th>
                    <th>Actual Amount</th>
                    <th>Post Amount</th>
                    <th>Remark</th>
                    <!-- <th>Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <!-- <button type="button"> <span>Edit</span></button> -->
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>0</td>
                    <td>0</td>
                    <td>-</td>
                    <td>-</td>
                    <td>
                      <!-- <button type="button"> <span>Edit</span></button> -->
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td>
                      <!-- <button type="button"> <span>Edit</span></button> -->
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td>
                      <!-- <button type="button"> <span>Edit</span></button> -->
                    </td>
                  </tr>
      
                </tbody>
              </table>
            </div></div>
      
</div>

