

  <div class="container">
      <p>Loan Application</p>
    <div class="row">
    <div class="col-sm-2">
        <input type="search" class="form-control" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
      </div>
    <div class="col-sm-2">
      <button type="button" >
        Advanced Search
       </button> 
    </div>
    </div>

<!-- Loan Application Table -->

<table class="table">
    <thead>
      <tr>
        <th>Customer ID </th>
        <th>Applicant Photo</th>
        <th>Applicant Name</th>
        <th>Applicant Mobile No.</th>
        <th>Loan Amount</th>
        <th>Loan Term (Tenure)</th>
        <th>Interest %</th>
        <th>EMI Amount</th>
        <th>Approver</th>
        <th>Loan Type</th>
        <th>Vehicle Type</th>
        <th>Ref By</th>
        <th>Customer Type</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let loan of loanverifiData">
        <td></td>
        <td></td>
        <td>{{loan.customerName}}</td>
        <td>{{loan.customerGuarantor.mobileNumber}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{loan.vehicleType}}</td>
        <td>{{loan.customerGuarantor.spouseName}}</td>
        <td></td>
        <th><button (click)="loanProcess(loan.id)">Proceed</button></th>
      </tr>
    </tbody>
</table>


  </div>