

  <div class="container">
    <div class="header_title">
      <h2>Loan Application</h2>
      </div>
    <div class="row">
    <div class="col-sm-4">
      <button  class="btn_blue" type="button"  (click)="advancedSearch()">
        Advanced Search
       </button> 
    </div>
    </div>
    <div class="card">
      <div class="card-body" *ngIf = "showAdvanceSearch">
    
  <form [formGroup]="advanceSearchForms">
     
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
      
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Account Number</mat-label>
            <input matInput formControlName="accountNo"  (keyup)="applyFilter($event, 'accountnumber')" >
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="customerName"  (keyup)="applyFilter($event , 'name')" >
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Vehicle Model</mat-label>
            <input matInput formControlName="vehiclemodel"   (keyup)="applyFilter($event, 'model')" >
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Vehicle Number</mat-label>
            <input matInput formControlName="vehicleNo"   (keyup)="applyFilter($event, 'vehicleno')" >
          </mat-form-field>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Customer Mobile No</mat-label>
            <input matInput formControlName="customerMobileNo"  (keyup)="applyFilter($event, 'mobileno')" >
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Chassis No</mat-label>
            <input matInput formControlName="chassisNo"  (keyup)="applyFilter($event, 'chassisno')" >
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>loan Amount</mat-label>
            <input matInput formControlName="loanAmount" (keyup)="applyFilter($event,'loanamount')" >
          </mat-form-field>
        </div>
        
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>ID Proof</mat-label>
            <input matInput formControlName="idProof" >
          </mat-form-field>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">

        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Area</mat-label>
            <input matInput  >
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Dealer</mat-label>
            <input matInput >
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Select Loan Status</mat-label>
            <mat-select>
                <mat-option value="live">live</mat-option>
                <mat-option value="terminated">Terminated</mat-option>
                <mat-option value="closed">Closed</mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Select No of Due</mat-label>
            <mat-select>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
            </mat-select>
        </mat-form-field>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <button  *ngIf="showSearchbtn" type="button"  class="btn btn-secondary" (click)="searchdata()">Search</button>
      <button  type="button" class="btn btn-primary" (click)="clearSearch()">Clear Search</button>
    </div>
  </form>
   </div></div>

<!-- Loan Application Table -->
<div class="card">
  <div class="card-body">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Customer ID </th>
        <!-- <th>Applicant Photo</th>  -->
        <th>Applicant Name</th>
        <th>Applicant Mobile No.</th>
        <th>Vehicle No</th>
        <th>Vehicle Model</th>
        <th>Chassis No</th>
        <!-- <th>Loan No</th> -->
        <th>Account No</th>
        <th>Loan Amount</th>
        <th>Loan Term</th>
        <th>Interest %</th>
        <th>EMI Amount</th>
        <th>Approver</th>
        <!-- <th>Loan Type</th> -->
        <th>Vehicle Type</th>
        <th>Ref By</th>
        <!-- <th>Customer Type</th> -->
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let loan of customerLoanDetails">
        <td>{{loan.id}}</td>
        <!-- <td></td> -->
        <td>{{loan.customerName}}</td>
        <td>{{loan.customerDetails.mobileNo}}</td>
        <td>{{loan.vehicleDetails.vehicleNumber}}</td>
        <td>{{loan.vehicleDetails.model}}</td>
        <td>{{loan.vehicleDetails.chassisNumber}}</td>
        <!-- <td>{{loan.vehicleDetails.chassisNumber}}</td> -->
        <td>{{loan.bankDetails.accountNumber}}</td>
        <td>{{loan.loanDetailsData.loanAmount}}</td>
        <td>{{loan.loanDetailsData.loanTerm}}</td>
        <td>{{loan.loanDetailsData.loanInterest}}</td>
        <td>{{loan.loanDetailsData.emi}}</td>
        <td></td>
        <!-- <td></td> -->
        <td>{{loan.vehicleType}}</td>
        <td>{{loan.customerGuarantor.spouseName}}</td>
        <!-- <td></td> -->
        <th><button (click)="loanProcess(loan.id)">Proceed</button></th>
      </tr>
    </tbody>
</table>

  <div *ngIf="customerLoanDetails.length ==0">
    No Data Found.
  </div>
</div></div>
  </div> 





