<div class="container">

  <div class="header_title">
    <h2>Cash Limit -Field Executive</h2>
  </div>

    <div class="row">
          <button type="button" class="btn_blue" data-toggle="modal" data-target="#createEnquiryModal" (click)="AddNew()">
              Add New
          </button>
    </div>
  

        
        <div class="allocation-table responsive_table">
            <div class="card">
              <div class="card-body">
              <table mat-table [dataSource]="dataSource" class="table table-striped">
              
                <ng-container matColumnDef="Sr no">
                  <th mat-header-cell *matHeaderCellDef> Sr no </th>
                  <td mat-cell *matCellDef="let element,let i = index;"> {{i + 1}} </td>
                </ng-container>
              
                <ng-container matColumnDef="fieldExecutive">
                  <th mat-header-cell *matHeaderCellDef> fieldExecutive </th>
                  <td mat-cell *matCellDef="let element"> {{element.fieldExecutiveName}} </td>
                </ng-container>

                
              
                <ng-container matColumnDef="cashInHand">
                  <th mat-header-cell *matHeaderCellDef> cashInHand </th>
                  <td mat-cell *matCellDef="let element"> {{element.cashInHand }} </td>
                </ng-container>

                <ng-container matColumnDef="Req_On">
                  <th mat-header-cell *matHeaderCellDef> Req_On </th>
                  <td mat-cell *matCellDef="let element"> {{element.requiredOn | date:"dd MMMM yyyy"}} </td>
                </ng-container>
                
              
                <ng-container matColumnDef="requiredAmount">
                  <th mat-header-cell *matHeaderCellDef> requiredAmount </th>
                  <td mat-cell *matCellDef="let element"> {{element.requiredAmount}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Approval">
                  <th mat-header-cell *matHeaderCellDef> Approval </th>
                  <td mat-cell *matCellDef="let element">{{element.status}} </td>
                </ng-container>
                
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="Edit_request(element)">Edit</button>
                    <!-- <button mat-button (click)="Delete_request(element)">Delete</button> -->

                    </td>
                </ng-container>
              
                
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                
              </table>
              
              <ng-container *ngIf="dataSource?.filteredData.length == 0">
                <div class="no_data_msg">No Data Avaliable</div>
              </ng-container>
        </div>
        </div>
  
          
  <div class="modal fade" id="createEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="createEnquiryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createEnquiryModalLabel">SET CASH IN HAND LIMIT</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
    <form [formGroup]="AddExecutiveForms" >
            <div>
                <select formControlName="feName" class="form-control">
                    <option>Field Executive</option>
                    <option  *ngFor="let FieldExicutive of FieldExicutives" value="{{FieldExicutive.fieldExecutiveName}}">{{FieldExicutive.fieldExecutiveName}}</option>
                  </select>
               </div>
          
            <div >    
              <mat-form-field  appearance="outline"   class="example-full-width" >
                <mat-label>Cost Limit</mat-label>
                <input matInput  type='number'  formControlName="cashInHand" >
              </mat-form-field>
          </div>  
          <div >
            <!-- <form [formGroup]="AddExecutiveForms"> -->
            <mat-form-field  appearance="outline"   class="example-full-width" >
              <mat-label>Required Amount</mat-label>
              <input matInput  type='number'  formControlName="requiredAmount" >
            </mat-form-field>
          
        </div>  
               
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveRequest()" data-dismiss="modal" class="btn_blue">Save</button>
        </div>
      </form>
      </div>
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="createEnquiryModals" tabindex="-1" role="dialog" aria-labelledby="createEnquiryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createEnquiryModalLabel">REQUEST DETAILS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
    <form [formGroup]="AddExecutiveForms" >
            <!-- <div>
                <label>Branch</label>
                <input type='text' *ngFor="let sin of value">
                <div>
                  {{sin.fieldExecutiveName}}
                </div>
               </div> -->
               <div >
                <mat-form-field  appearance="outline"   class="example-full-width" >
                  <mat-label>Req Name</mat-label>
                  <input matInput  type='text' formControlName = "feName">
                </mat-form-field>
            </div>  
            <div >
              <mat-form-field  appearance="outline"   class="example-full-width" >
                <mat-label>Req On</mat-label>
                <input matInput  type='text' formControlName = "requiredOn">
              </mat-form-field>
          </div>  
               
            
            <div >
              <mat-form-field  appearance="outline"   class="example-full-width" >
                <mat-label>Req Amount</mat-label>
                <input matInput  type='text'  formControlName="requiredAmount" >
              </mat-form-field>
          </div>
          <!-- <div >
            <mat-form-field  appearance="outline"   class="example-full-width" >
              <mat-label>Req On Date</mat-label>
              <input matInput  type='text'  formControlName="requestOnDate" >
            </mat-form-field>
        </div> -->
        <!-- <div >
          <mat-form-field  appearance="outline"   class="example-full-width" >
            <mat-label>Approved Amount</mat-label>
            <input matInput  type='text'  formControlName="approveAmount">
          </mat-form-field>
      </div> -->
          <!-- <div >
            <mat-form-field  appearance="outline"   class="example-full-width" >
              <mat-label>Approve Amount</mat-label>
              <input matInput  type='text'  formControlName="Approve_Amount" >
            </mat-form-field>
        </div> -->
        <!-- <div >
          <mat-form-field  appearance="outline"   class="example-full-width" >
            <mat-label>Notes</mat-label>
            <input matInput  type='text'  formControlName="Notes" >
          </mat-form-field>
      </div> -->

               </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary" (click)="updateFieldexeDetails()" data-dismiss="modal" class="btn_blue">Save</button> -->
        </div>
      </div>
    </div>
  </div>
        </div>