<div class="container">
  <h2>Analytics</h2>

  <!-- Tab1 -->

  <mat-tab-group #tabGroup (selectedTabChange)="ontabClick($event)">
    <mat-tab label="Collection">

      <!--Demand vs Collection Piechart -->

      <figure class="highcharts-figure">
        <div id="DemandVsCollectionpie"></div>
      </figure>

      <!-- Collection Graph -->
      <figure class="highcharts-figure">
        <div id="collectionGraph">
        </div>
      </figure>

      <!--Loan amount Collected Piechart -->

      <figure class="highcharts-figure">
        <div id="loanCollectedbankVsCash"></div>
      </figure>

      <!-- FE Assigned vs follow-up Graph -->
      <figure class="highcharts-figure">
        <div id="feAssignedVsFollowUp">
        </div>
      </figure>

      

    </mat-tab>

    <!-- Tab 2 -->
    <mat-tab label="Onboard">

      <!-- Graph -->

      <figure class="highcharts-figure">
        <div id="newloanCount">
        </div>
      </figure>

      <!--Onboard Piechart -->

      <figure class="highcharts-figure">
        <div id="onboardpiechart"></div>
      </figure>

      <!-- Enquiry Vs Conversion Pie-->

      <figure class="highcharts-figure">
        <div id="enquiryVsConversion"></div>
      </figure>
    </mat-tab>

    <!-- Tab 3 -->
    <mat-tab label="Insurance">
      <!-- Graph -->
      <figure class="highcharts-figure">
        <div id="insuranceExpired">
        </div>
      </figure>

      <!-- Piechart -->

      <figure class="highcharts-figure">
        <div id="insuranceExpiredVsRenewal"></div>
      </figure>

      <figure class="highcharts-figure">
        <div id="insuranceHoldVsCom"></div>
      </figure>

    </mat-tab>

    <!-- tab 4 -->
    <mat-tab label="Loan Disbursal">
      <!-- <div class="row d-flex justify-content-center mt-100"> -->

      <!--Loan Disbursal Piechart -->

      <figure class="highcharts-figure">
        <div id="loandisbursalPie"></div>
      </figure>
      <!-- </div> -->

      <!-- Bank Vs Cash Piechart -->

      <figure class="highcharts-figure">
        <div id="bankVsCash"></div>
      </figure>
      <!-- </div> -->
    </mat-tab>


    <!-- Tab 5 -->
    <mat-tab label="Repossessed">
      <!-- <div class="row d-flex justify-content-center mt-100"> -->

      <!--Repossessed Graph Piechart -->

      <figure class="highcharts-figure">
        <div id="repossessedGraph"></div>
      </figure>

      <!-- Disbursal Repossessed vs Relesed Piechart -->

      <figure class="highcharts-figure">
        <div id="repossessedVsReleased"></div>
      </figure>



      <!-- </div> -->
    </mat-tab>

    <!-- Tab 6 -->
    <mat-tab label="Expenses">

      <!-- Allocated Vs Expenses Piechart -->

      <figure class="highcharts-figure">
        <div id="allocatedVsExpenses"></div>
      </figure>


      <!-- RTO Expenses vs Completed Piechart -->

      <figure class="highcharts-figure">
        <div id="rtoExpensesVsCompleted"></div>
      </figure>
      
    </mat-tab>


    <!-- Tab 7 -->
    <mat-tab label="Others">
      <!-- DOC Pending vs Completed Piechart -->

      <figure class="highcharts-figure">
        <div id="docPendingVsCompleted"></div>
      </figure>


      <!-- AGT assigned vs Not assigned Piechart -->

      <figure class="highcharts-figure">
        <div id="agtAssignedVsNotAssigned"></div>
      </figure>

    </mat-tab>
  </mat-tab-group>

</div>

