<!-- /** Branch Manager Side Bar */ -->
<div class="sidebar sidebar-offcanvas"  id="sidebar">

<div class="navigation" >
   <div class="logo_sidebar"></div> 
   
    <ul>
      <li [routerLinkActive]="['active']">
         <a [routerLinkActive]="['active']"  [routerLink]="['/branch-manager/dashboard']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i> <div class="as-menu-item">Dashboard</div> </a>
      </li>
       <li [routerLinkActive]="['active']" >
         <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/existing-employee']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i> <div class="as-menu-item">Manage Employee</div> </a>
      </li>
       <li [routerLinkActive]="['active']">
         <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/user-role-permission']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i><div class="as-menu-item"> Roles & Permission</div></a>
      </li>
       <li [routerLinkActive]="['active']">
         <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/customer-management']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i><div class="as-menu-item">Customer Management</div> </a>
      </li>
      
       <li [routerLinkActive]="['active']" class="has-sub"> <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/loandisbursal-process']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i> <div class="as-menu-item">Loan Approval</div></a> <!-- /Collection<br> Cash Management -->
        <ul>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/loandisbursal-process']" aria-expanded="false" mat-menu-item >Loan Disbursal Cash Limit</a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/loanapproval-process']" aria-expanded="false" mat-menu-item >Loan Approval Limit</a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/cashlimit-process']" aria-expanded="false" mat-menu-item >Cash Limit -Field Executive</a></li>
        </ul>
      </li>
       <li [routerLinkActive]="['active']">
        <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/task-management']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i> <div class="as-menu-item">Task Management</div></a>
      </li>
       <li [routerLinkActive]="['active']" >
        <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/assign-targets']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i><div class="as-menu-item"> Assign Targets</div></a>
      </li>
       <li [routerLinkActive]="['active']" >
        <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/topup-loan']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i><div class="as-menu-item">Topup Loan</div> </a>
      </li>
      <!-- <li >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/dashboard']" aria-expanded="false">Report</a>
      </li> -->
       <li [routerLinkActive]="['active']" >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/analytics']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i> <div class="as-menu-item">Analytics</div> </a>
      </li>
       <li [routerLinkActive]="['active']" >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/create-receipt']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i> <div class="as-menu-item">Create Receipt</div></a> 
      </li>
       <li [routerLinkActive]="['active']" >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/enquiry-list']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i><div class="as-menu-item">Create Enquiry</div> </a> 
      </li>
       <li [routerLinkActive]="['active']" >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/customer-enroll-list']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i> <div class="as-menu-item">Enroll Customer</div> </a>
      </li>
       <li [routerLinkActive]="['active']" >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/newloan-process']" aria-expanded="false"><i class="as-menu-icon as-dashboard-icon"></i><div class="as-menu-item">Create Loan</div> </a>
      </li>
    </ul>
  </div>
</div>


<!-- /** Cashier Side Bar */ -->

<div class="sidebar" *ngIf="role === 'Cashier'">
   <div class="navigation">
      <div class="logo_sidebar"><img src="assets/images/logo.png"/></div>
       <ul>
           <li >
               <a [routerLinkActive]="['active']" [routerLink]="['/cashier/dashboard']" aria-expanded="false">Dashboard</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']"  [routerLink]="['/cashier/customer-management']"  aria-expanded="false">Customer Management</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/task-management']" aria-expanded="false">Task Management</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/topup-loans']" aria-expanded="false" >Top-Up Loan</a>
           </li>
           <!-- <li >
            <a [routerLinkActive]="['active']"  aria-expanded="false">Report</a>
           </li> -->
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/create-receipt']" aria-expanded="false" data-toggle="modal" data-target="#searchtab">Create Receipt</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']"  [routerLink]="['/cashier/enquiry-list']"  aria-expanded="false" >Create Enquiry</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/customer-enroll-list']" aria-expanded="false" >Enrol Customer</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/newloan-process']" aria-expanded="false" >Create New Loan</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']"  [routerLink]="['/cashier/my-task']" aria-expanded="false" >My Task</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']"  [routerLink]="['/cashier/hl-payment-list']" aria-expanded="false" >Create HL Payment</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/voucher-list']"  aria-expanded="false" >Create Voucher</a>
           </li>
           <li class="has-sub"> <a  [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" >Letter</a>
            <ul>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >B Shedule</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >Settlement</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >Repossessed</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >Seizing</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >Rc Endt Cancel</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >Inc Endt Cancel</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >Inc Transfer Noc</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >Name Trans</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >RTO Work</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >Due Reminder</a></li>
              <li><a [routerLinkActive]="['active']" [routerLink]="['/cashier/letter']" aria-expanded="false" mat-menu-item >Complaint</a></li>
            </ul>
          </li>


       </ul>
     </div>
   </div>
 

   <!-- /** Loan Transfer Team Side Bar */ -->

<div class="sidebar" *ngIf="role === 'LoanTransfer'">
  <div class="navigation">
     <div class="logo_sidebar"><img src="assets/images/logo.png"/></div>
      <ul>
          <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/loan-transfer-team/dashboard']" aria-expanded="false">Dashboard</a>
          </li>
          <li >
              <a [routerLinkActive]="['active']" [routerLink]="['/loan-transfer-team/task-management']" aria-expanded="false">Task Management</a>
          </li>
          <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/loan-transfer-team/my-task']" aria-expanded="false">My Task</a>
        </li>
          </ul>
  </div>
</div>
          