<!-- /** Branch Manager Side Bar */ -->
<div class="sidebar" *ngIf="role === 'BranchManager' ">
<div class="navigation">
   <div class="logo_sidebar"><img src="assets/images/logo.png"/></div>
    <ul>
      <li>
         <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/dashboard']" aria-expanded="false">Dashboard</a>
      </li>
      <li>
         <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/existing-employee']" aria-expanded="false">Manage Employee</a>
      </li>
      <li>
         <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/user-role-permission']" aria-expanded="false">Roles & Permission</a>
      </li>
      <li>
         <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/customer-management']" aria-expanded="false">Customer Management</a>
      </li>
        
      <li class="has-sub"> <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/loandisbursal-process']" aria-expanded="false" >Loan Approval/Collection<br> Cash Management</a>
        <ul>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/loandisbursal-process']" aria-expanded="false" mat-menu-item >Loan Disbursal Cash Limit</a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/loanapproval-process']" aria-expanded="false" mat-menu-item >Loan Approval Limit</a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/cashlimit-process']" aria-expanded="false" mat-menu-item >Cash Limit -Field Executive</a></li>
        </ul>
      </li>
      <li>
        <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/task-management']" aria-expanded="false">Task Management</a>
      </li>
      <li >
        <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/assign-targets']" aria-expanded="false">Assign Targets</a>
      </li>
      <li >
        <a [routerLinkActive]="['active']" [routerLink]="['/branch-manager/topup-loan']" aria-expanded="false">Topup Loan</a>
      </li>
      <!-- <li >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/dashboard']" aria-expanded="false">Report</a>
      </li> -->
      <li >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/analytics']" aria-expanded="false"> Analytics</a>
      </li>
      <li >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/create-recipt']" aria-expanded="false">Create Receipt</a> 
      </li>
      <li >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/enquiry-list']" aria-expanded="false">Create Enquiry</a> 
      </li>
      <li >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/customer-enroll-list']" aria-expanded="false"> Enroll Customer</a>
      </li>
      <li >
        <a  [routerLinkActive]="['active']" [routerLink]="['/branch-manager/newloan-process']" aria-expanded="false">Create Loan</a>
      </li>
    </ul>
  </div>
</div>


<!-- /** Cashier Side Bar */ -->

<div class="sidebar" *ngIf="role === 'Cashier'">
   <div class="navigation">
      <div class="logo_sidebar"><img src="assets/images/logo.png"/></div>
       <ul>
           <li >
               <a [routerLinkActive]="['active']" [routerLink]="['/cashier/dashboard']" aria-expanded="false">Dashboard</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']"  [routerLink]="['/cashier/customer-management']"  aria-expanded="false">Customer Management</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/task-management']" aria-expanded="false">Task Management</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/topup-loans']" aria-expanded="false" >Top-Up Loan</a>
           </li>
           <!-- <li >
            <a [routerLinkActive]="['active']"  aria-expanded="false">Report</a>
           </li> -->
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/create-receipt']" aria-expanded="false" data-toggle="modal" data-target="#searchtab">Create Receipt</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']"  [routerLink]="['/cashier/enquiry-list']"  aria-expanded="false" >Create Enquiry</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/customer-enroll-list']" aria-expanded="false" >Enrol Customer</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/newloan-process']" aria-expanded="false" >Create New Loan</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']"  [routerLink]="['/cashier/my-task']" aria-expanded="false" >My Task</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']"  [routerLink]="['/cashier/hl-payment-list']" aria-expanded="false" >Create HL Payment</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']" [routerLink]="['/cashier/voucher-list']"  aria-expanded="false" >Create Voucher</a>
           </li>
           <li >
            <a [routerLinkActive]="['active']"  aria-expanded="false" >Letter</a>
           </li>
       </ul>
     </div>
   </div>
 
