<!-- /** Header & Sidebar */ -->
<div class="header">
  <div class="header-right">
      <a class="material-icons" matTooltip="Notifications">
          notifications
      </a>
        <a href="login" class="material-icons" matTooltip="Notifications">
          logout
        </a>
  </div>
</div>


<div class="sidenav">
  <a href="branch-manager/dashboard">Dashboard</a>
  <a href="branch-manager/dashboard">Manage Employee</a>
  <a href="branch-manager/user-role-permission">Manager Roles & Permission</a>
  <a href="branch-manager/customer-management">Customer Management</a>
  <a href="branch-manager/loan-verification">Loan Approval/Collection Cash Management</a>
  <a href="branch-manager/task-management">Task Management</a>
  <a href="branch-manager/assign-targets">Assign Targets</a>
  <a href="branch-manager/dashboard">Topup Loan</a>
  <a href="branch-manager/dashboard">Report</a>
  <a href="branch-manager/analytics">Analytics</a>
  <a href="branch-manager/dashboard">Create Receipt</a>
  <a href="branch-manager/enquiry-list">Create Enquiry</a>
  <a href="branch-manager/customer-enroll-list">Enroll Customer</a>
  <a href="branch-manager/loan-process">Create Loan</a>
</div>

<!-- /** Loan Process */ -->

<div class="container">

  <form class="form-inline md-form form-sm active-cyan-2">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
      mdbInput>
  </form><br><br>
  
  <form class="form-inline md-form form-sm active-cyan-2">
    <button type="button"  data-toggle="modal" data-target="#createAdvanceSearchModal">
     Advanced Search
    </button> 
   </form><br><br>

<div class="row">
  <div class="col-sm-2">
    <div> Customer Image</div>
    <div>Customer ID: KF-0012</div>
  </div>  
  <div class="col-sm-2">
    <div>Robin</div>
    <div>8765765465</div>
    <div>Male</div>
  </div>  
  <div class="col-sm-2">
    <div>Loan Amount:50,000</div>
    <div>Loan Term: 8 Month</div>
    <div>Interest: 24%</div>
    <div>EMI: 5200</div>
  </div>
  <div class="col-sm-2">
    <div>Ref By: 8787654545</div>
    <div>Vehicle: Make/Model</div>
    <div>For: Used vehicle</div>
    <div>EMI: 5200</div>
  </div>
  <div class="col-sm-2">
    <div>New Customer</div>
    <div>Loan Type: New Loan</div>
    <div>Approver: Super Admin</div>
  </div>
</div>






<mat-tab-group mat-align-tabs="start">
    <!-- Tab 1 -->
    <mat-tab label="Applicant">
        <mat-card class="example-card">
        <mat-card-content>
          <form [formGroup]="applicantDetailsForm">
            <table class="example-full-width" cellspacing="0">
                
              <tr>
                <td>  UserID:
                  <mat-form-field  appearance="outline"  class="example-full-width">
                  <input matInput type='text' formControlName="userId" >
                  </mat-form-field>
                </td><br>
                <td>  Applicant name:
                  <mat-form-field  appearance="outline"  class="example-full-width">
                  <input matInput type='text' formControlName="customerName" >
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td> Mobile Number:
                  <mat-form-field appearance="outline"   class="example-full-width">
                <input matInput type='number' >
              </mat-form-field></td>
            </tr>
            <tr>
                <td>  Father name:
                  <mat-form-field  appearance="outline"  class="example-full-width">
                  <input matInput  type='text'  >
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td> Ref By:
                  <mat-form-field appearance="outline"  class="example-full-width">
                <input matInput  >
              </mat-form-field></td>
            </tr>
            <tr>
                <td>  Applicant Type:
                  <mat-form-field  appearance="outline" class="example-full-width">
                  <input matInput  >
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td> Marital status:
                  <mat-form-field appearance="outline"  class="example-full-width">
                <input matInput formControlName="maritalStatus">
              </mat-form-field></td>
            </tr>
            <tr>
                <td>  Company Name:
                  <mat-form-field  appearance="outline" class="example-full-width">
                  <input matInput  type='text'  >
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td> Spouse Name:
                  <mat-form-field appearance="outline"  class=" example-full-width">
                <input matInput  >
              </mat-form-field></td>
            </tr>
            <tr>
                <td> Net Monthly Income:
                    <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput  >
                </mat-form-field></td>
              </tr>
              <tr>
                <td> Salary Date:
                    <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput  >
                </mat-form-field></td>
              </tr>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Monthly</mat-radio-button>
                <mat-radio-button value="2">Weakly</mat-radio-button>
                <mat-radio-button value="2">Daily</mat-radio-button>
              </mat-radio-group><br>
              <button mat-raised-button (click)="newLoanCustomerDetails()" color="primary">submit</button>
              <!-- <a href="#" class="previous">&laquo; Previous</a> -->
              <a  class="next">Next &raquo;</a>
              <!-- <button class="tablinks" (click)="setTab('tab2')">Tab 1</button> -->
              <!-- <button class="tablinks" routerLink="/Co-Applicant">Tab 3</button> -->
        </table>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-raised-button (click)="submit()" color="primary">submit</button> -->
        </mat-card-actions>
       
      </mat-card>
      </mat-tab>


  <!-- Tab 2 -->


  <mat-tab label="Co-Applicant">
    <mat-card class="example-card">
    <mat-card-content>
      <form class="example-form" [formGroup] = "coapplicantDetailsForm">
        <table class="example-full-width" cellspacing="0">
            
          <tr>
            <td>   Name:
              <mat-form-field  appearance="outline" class="example-full-width">
              <input matInput type='text' formControlName="spouseName" >
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td> Mobile Number:
              <mat-form-field appearance="outline" class="example-full-width">
            <input matInput type='number' formControlName="mobileNumber" >
          </mat-form-field></td>
        </tr>
        <tr>
            <td>  Father name:
              <mat-form-field  appearance="outline" class="example-full-width">
              <input matInput  type='text'  >
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td> Ref By:
              <mat-form-field appearance="outline" class="example-full-width">
            <input matInput  >
          </mat-form-field></td>
        </tr>
        <tr>
            <td>  Co-Applicant Type:
              <mat-form-field  appearance="outline" class="example-full-width">
              <input matInput  >
              </mat-form-field>
            </td>
          </tr>
          
        <tr>
            <td>  Company Name:
              <mat-form-field  appearance="outline" class="example-full-width">
              <input matInput  type='text'  >
              </mat-form-field>
            </td>
          </tr>
          
          <tr>
            <td> Salary Date:
                <mat-form-field appearance="outline" class="example-full-width">
              <input matInput  >
            </mat-form-field></td>
          </tr>
          <tr>
            <td> Net Monthly Income:
                <mat-form-field appearance="outline" class="example-full-width">
              <input matInput  >
            </mat-form-field></td>
          </tr>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Monthly</mat-radio-button>
            <mat-radio-button value="2">Weakly</mat-radio-button>
            <mat-radio-button value="2">Daily</mat-radio-button>
          </mat-radio-group>
    </table>
    <a  class="previous">&laquo; Previous</a>
    <a  class="next">Next &raquo;</a>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-raised-button (click)="submit()" color="primary">submit</button> -->
    </mat-card-actions>
   
  </mat-card>
  </mat-tab>
    <!-- Tab 3 -->

    <mat-tab label="Vehicle details">
        <mat-card class="example-card">
        <mat-card-content>
          <form class="example-form" [formGroup]="vehicleDetailsForm">
            
          <div class="row">
            <div class="col-sm-2">
              <div> 
                <label>Vehicle Number:
                  <mat-form-field  appearance="outline" class="example-full-width">
                    <input matInput type='text'  formControlName="vehicleNumber" >
                    </mat-form-field>
                </label>
              </div>
              <div>
               <label>Model:
                <mat-form-field  appearance="outline" class="example-full-width">
                  <input matInput  type='text'  formControlName="model" >
                  </mat-form-field>
                  </label>
              </div>
              <div>
                <label>MFG Year:
                  <mat-form-field  appearance="outline" class="example-full-width" >
                    <input matInput  type='text' formControlName="mfgYear">
                  </mat-form-field>
                   </label>
               </div>
               <div>
                <label>Engine Number:
                  <mat-form-field  appearance="outline" class="example-full-width"  >
                    <input matInput  type='text'  formControlName="engineNumber">
                  </mat-form-field>
                   </label>
               </div>
               <div>
                <label>Chassis Number:
                  <mat-form-field appearance="outline" class="example-full-width"  >
                    <input matInput  type='text' formControlName="chassisNumber">
                  </mat-form-field>
                   </label>
               </div>
               <div>
                <label>Insurence Company:
                  <mat-form-field appearance="outline" class="example-full-width" >
                    <input matInput type='text'  formControlName="insuranceCompany">
                  </mat-form-field>
                   </label>
               </div>
               <div>
                <label>Insurence Policy:
                  <mat-form-field  appearance="outline" class="example-full-width">
                    <input matInput  type='text' formControlName="insurancePolicy">
                    </mat-form-field>
                   </label>
               </div>
               <div>
                <label>Insurence Expire on:
                  <mat-form-field appearance="outline" class="example-full-width" >
                    <input matInput  type='text' formControlName="insuranceExpiry" >
                  </mat-form-field>
                   </label>
               </div>
               <div>
                <label>Live KM Reading:
                  <mat-form-field appearance="outline" class="example-full-width" >
                    <input matInput  type='text' formControlName="kmReading" >
                  </mat-form-field>
                   </label>
               </div>
           </div>

           <div class="col-sm-2" style="padding-left: 10%;">
            <div> 
              <label>Make:</label>
                <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput type='text' formControlName="maker" >
                </mat-form-field>
            </div>
            <div> 
              <label>Colour:</label>
                <mat-form-field appearance="outline" class="example-full-width" >
                  <input matInput  type='text' formControlName="color">
                </mat-form-field>
            </div>
            <div> 
              <label>No of Owner:
                <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput type='text' formControlName="noOfOwner" >
                </mat-form-field>
                 </label>
            </div>
            <div> 
              <label>Engine Image:
              <button>Delete</button>
              <button>Add Image</button>
              <img  src="assets/images/empty_image.png">
              </label>
            </div>
            <div> 
              <label>Chassis Image:
              <button>Delete</button>
              <button>Add Image</button>
              <img  src="assets/images/empty_image.png">
              </label>
            </div>
          </div>
          <div class="col-sm-2" style="padding-left: 20%;">
            <div> 
              <label>Insurence Policy Image:
              <button>Delete</button>
              <button>Add Image</button>
              <img  src="assets/images/empty_image.png">
              </label>
            </div>
            <div> 
              <label>Live KM Reading:
                <button>Delete</button>
                <button>Add Image</button>
                <img  src="assets/images/empty_image.png">
              </label>
            </div>
            <div> 
              <label>RC Book:
                <div class="row"></div>
                <button>Delete</button>
                <button>Add Image</button>
                <img  src="assets/images/empty_image.png">
              </label>
            </div>
         </div>
         <div class="col-sm-2" style="padding-left: 20%;">
          <button>Create Task</button>
          <button>Vehicle Transaction History</button>
          <button>Vehicle Challan report</button>
        </div>
          
        </div>
           
        <div class="row">
          <div class="col-sm-6">
          <div> 
            <label>Vehicle Image:
              <img  src="assets/images/empty_image.png">
              <!-- <img  src="assets/images/empty_image.png"> -->
              <!-- <img  src="assets/images/empty_image.png"> -->
              <!-- <img  src="assets/images/empty_image.png"> -->
            </label>
          </div>
          </div>
        </div>
           
         

        <a class="previous">&laquo; Previous</a>
        <a class="next">Next &raquo;</a>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-raised-button (click)="submit()" color="primary">submit</button> -->
        </mat-card-actions>
       
      </mat-card>
      </mat-tab>
        <!-- Tab 4 -->
    
        <mat-tab label="Loan Transfer">
            <mat-card class="example-card">
            <mat-card-content>
              <form class="example-form" [formGroup]="loanTransferForm">
                <div class="row">
                  <div class="col-3">
                <table class="example-full-width" cellspacing="0">
                    
                  <tr>
                    <td>   Loan Amount:
                      <mat-form-field  appearance="outline" class="example-full-width">
                      <input matInput type='text'   formControlName="loanAmount">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                  <td> Loan Term:
                      <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput type='number' formControlName="loanTerm" >
                  </mat-form-field></td>
                </tr>
                <tr>
                  <td> Emi Amount:
                      <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput  formControlName="emiAmount" >
                  </mat-form-field></td>
                </tr>
                <tr>
                  <td>  Due Date:
                    <mat-form-field  appearance="outline" class="example-full-width">
                    <input matInput  type='text'  formControlName="dueDate" >
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>  Doc Charge:
                      <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput   formControlName="docCharge">
                  </mat-form-field></td>
                </tr>
                <tr>
                  <td> Processing Charge:
                      <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput   formControlName="processingCharge">
                  </mat-form-field></td>
                </tr>
                <tr>
                  <td>  Pending Doc:
                    <section class="example-section">
                      <mat-checkbox class="example-margin">NOC</mat-checkbox>
                      <mat-checkbox class="example-margin">Insurence</mat-checkbox>
                      <mat-checkbox class="example-margin">Co-Applicant</mat-checkbox>
                      <mat-checkbox class="example-margin">Vehicle Details</mat-checkbox>
                    </section>
                  </td>
                </tr>
                Hold Amount:

                <tr>
                  <td>NOC:
                      <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput  formControlName="holdAmount" >
                  </mat-form-field></td>
                </tr>
                <tr>
                  <td>Intrest:
                    <mat-form-field  appearance="outline" class="example-full-width">
                    <input matInput  type='text'   formControlName="intrest">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>Intrest Amount:
                    <mat-form-field  appearance="outline" class="example-full-width">
                    <input matInput  type='text'   formControlName="intrest">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                    <td>Insurence:
                      <mat-form-field  appearance="outline" class="example-full-width">
                      <input matInput  type='text'   formControlName="intrest">
                      </mat-form-field>
                    </td>
                  </tr>
                <tr>
                    <td>Co-Applicant :
                      <mat-form-field  appearance="outline" class="example-full-width">
                      <input matInput  formControlName="intrestEmiAmount" >
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td> Other Charge:
                      <section class="example-section">
                        <mat-checkbox class="example-margin">RTO Expense</mat-checkbox>
                        <mat-checkbox class="example-margin">Insurence</mat-checkbox>
                      </section>
                    </td>
                  </tr>
                  <tr>
                    <td> Closing A/C:
                        <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput  formControlName="closingAC" >
                    </mat-form-field></td>
                  </tr>
                  <tr>
                    <td>  Closing Discount:
                      <mat-form-field  appearance="outline" class="example-full-width">
                      <input matInput  type='text'  formControlName="closingDiscount" >
                      </mat-form-field>
                    </td>
                  </tr>
                  
                  <tr>
                    <td> Pay Out:
                        <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput   formControlName="balance">
                    </mat-form-field></td>
                  </tr>
                  <tr>
                    <td> Re-payment Mode:
                        <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput   formControlName="rePaymentMode">
                    </mat-form-field></td>
                  </tr>
                 
                </table>
                </div>

              <div class="col-3">
                APPLICANT EXPECTATION
                <div>
                  <label>Loan Amount </label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput   formControlName="rePaymentMode">
                  </mat-form-field>
                  <label>Interest %</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput   formControlName="rePaymentMode">
                  </mat-form-field>
                  <label>Loan Term </label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput   formControlName="rePaymentMode">
                  </mat-form-field>
                  <label>Due Date </label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput   formControlName="rePaymentMode">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <a  class="previous">&laquo; Previous</a>
            <a  class="next">Next &raquo;</a>

              </form>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-raised-button (click)="submit()" color="primary">submit</button> -->
            </mat-card-actions>
           
          </mat-card>
          </mat-tab>
    
    <!-- Tab 5  -->
    <mat-tab label="Bank details">
        <mat-card class="example-card">
        <mat-card-content>
          <form class="example-form" [formGroup]="bankDetailsForm">
              <p>Transfer Amount 1</p>
            &nbsp;
            <input type="submit" id="fname" name="fname" value="0,000" >&nbsp;
            <input type="submit" id="fname" name="fname" value="Applicant" >&nbsp;
                        <input type="submit" id="fname" name="IMPS" value="Branch">
                        <table class="example-full-width" cellspacing="0">
                          <tr>
                            <td>   
                              <mat-form-field  appearance="outline" class="example-full-width">
                              <input matInput type='text' placeholder="Account Number"  formControlName="accountNumber">
                              </mat-form-field>
                            </td>
                          </tr>
                          <tr>
                          <td> 
                              <mat-form-field appearance="outline" class="example-full-width">
                            <input matInput type='text' placeholder="Name" formControlName="accountHolderName">
                          </mat-form-field></td>
                        </tr>
                        <tr>
                            <td>  
                              <mat-form-field  appearance="outline" class="example-full-width">
                              <input matInput  type='text' placeholder="IFSC" formControlName="IFSC" >
                              </mat-form-field>
                            </td>
                          </tr>
                          <tr>
                          <td> 
                              <mat-form-field appearance="outline" class="example-full-width">
                            <input matInput placeholder="chooseBank"  formControlName="bankName">
                          </mat-form-field></td>
                        </tr>
                        <p>Form Group Company</p>
                        <tr>
                            <td>  
                              <mat-form-field  appearance="outline" class="example-full-width">
                              <input matInput  placeholder="choose Branch" formControlName="branchName">
                              </mat-form-field>
                            </td>
                          </tr>
                          <tr>
                            <td> 
                                <mat-form-field appearance="outline" class="example-full-width" >
                              <input matInput placeholder="KC" >
                            </mat-form-field></td>
                          </tr>
                          <tr>
                              <td>  
                                <mat-form-field  appearance="outline" class="example-full-width">
                                <input matInput  placeholder="Approve Loan" >
                                </mat-form-field>
                              </td>
                            </tr>
                        
                          
                         
                    </table>
                      
            
            <table class="example-full-width" cellspacing="0">
                <p>Loan Summary</p>
              <tr>
                <td>   Loan Amount:
                  <mat-form-field  appearance="outline" class="example-full-width">
                  <input matInput type='text' formControlName="loanEligibleAmount" >
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td> Intrest%:
                  <mat-form-field appearance="outline" class="example-full-width">
                <input matInput type='number' >
              </mat-form-field></td>
            </tr>
            <tr>
                <td>  Loan Term:
                  <mat-form-field  appearance="outline" class="example-full-width">
                  <input matInput  type='text'>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td> Due Date:
                  <mat-form-field appearance="outline" class="example-full-width">
                <input matInput >
              </mat-form-field></td>
            </tr>
            <tr>
                <td>  To Pay :
                  <mat-form-field  appearance="outline" class="example-full-width">
                  <input matInput >
                  </mat-form-field>
                </td>
              </tr>
              
            
              
             
        </table>

        <a class="previous">&laquo; Previous</a>
        <button (click) = "submit()" form="" value="Submit">Submit</button>

          </form>
        </mat-card-content>
        <mat-card-actions>
          
        </mat-card-actions>
       
      </mat-card>
      </mat-tab>

  </mat-tab-group>
</div>