<div class="container"> 
    <div class="header_title">
    <h2>My Task</h2>
    <div class="header_right">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
    </div>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="AddLoanApprovalForm" >
          
                <div >
                  <mat-form-field  appearance="outline"  class="example-full-width" >
                    <mat-label>Branch</mat-label>
                    <input matInput  type='text'  formControlName="branchName">
                  </mat-form-field>
              </div>
              <div >
                <mat-form-field  appearance="outline"  class="example-full-width" >
                  <mat-label>Cash Limit</mat-label>
                  <input matInput  type='number'  formControlName="cashLimit">
                </mat-form-field>
            </div>
                      <div >
                        <mat-form-field  appearance="outline"  class="example-full-width" >
                          <mat-label>Requested Amount</mat-label>
                          <input matInput  type='number'  formControlName="requestedAmount">
                        </mat-form-field>
                    </div>
                    
                    <div>
                      <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput [matDatepicker]="dp" placeholder="Required On" formControlName="requestedOn">
                      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp></mat-datepicker>
                  </mat-form-field>
                </div>
            
            
                    <div >
                      <mat-form-field  appearance="outline"  class="example-full-width" >
                        <mat-label>Duration</mat-label>
                        <input matInput  type='number'  formControlName="duration">
                      </mat-form-field>
                  </div>
                    <div >
                      <mat-form-field  appearance="outline"  class="example-full-width" >
                        <mat-label>Approved Amount</mat-label>
                        <input matInput  type='number'  formControlName="approvedAmount">
                      </mat-form-field>
                  </div>
                    <!-- <div >
                      <mat-form-field  appearance="outline"   class="example-full-width" >
                        <mat-label>Notes</mat-label>
                        <input matInput  type='text' >
                      </mat-form-field>
                  </div> -->
                      
                         </form>
      
        </div>
    </div>

</div>