<div class="container">

  <div class="col-sm-2">
    <div>
        <button type="button"  data-toggle="modal" data-target="#createEnquiryModal">
            Send Req
        </button>
    </div>
</div>

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
      </mat-form-field>
      
      <div class="allocation-table responsive_table">
        <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="Sr no">
          <th mat-header-cell *matHeaderCellDef> Sr no </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Branch">
          <th mat-header-cell *matHeaderCellDef> Branch </th>
          <td mat-cell *matCellDef="let element"> {{element.branchName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Requested On">
          <th mat-header-cell *matHeaderCellDef> Requested On </th>
          <td mat-cell *matCellDef="let element"> {{element.requestOnDate | date:"dd MMMM yyyy"}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Requested Loan Amount">
          <th mat-header-cell *matHeaderCellDef> Requested Loan Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.requestLoanAmount}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Approved Amount">
          <th mat-header-cell *matHeaderCellDef> Approved Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.approveAmount}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status </th>
          <td mat-cell *matCellDef="let element">{{element.status}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="Requestapproveprocess()">Approve request</button>
             </td>
        </ng-container>
      
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        
      </table>
      
      <ng-container *ngIf="dataSource?.filteredData.length == 0">
        <div class="no_data_msg">No Data Avaliable</div>
      </ng-container>
      </div>

        
<div class="modal fade" id="createEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="createEnquiryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createEnquiryModalLabel">REQUEST CASH Amount</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <form [formGroup]="requestForms" >
          
          <div >
            <mat-form-field  appearance="outline"   class="example-full-width" >
              <mat-label>Cash Limit</mat-label>
              <input matInput  type='text'  formControlName="Cash_Limit" >
            </mat-form-field>
        </div>
        <div >
          <mat-form-field  appearance="outline"   class="example-full-width" >
            <mat-label>Notes</mat-label>
            <input matInput  type='Notes'  formControlName="Notes" >
          </mat-form-field>
      </div>
          
             </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saverequest()" data-dismiss="modal" >Save</button>
      </div>
    </div>
  </div>
</div>

      </div>